# **INDIAN STARTUP ECOSYSTEM**

## Project Description
We embark on a journey of discovery as we leverage our data analysis expertise to uncover the untapped potential within the Indian startup ecosystem. This project is designed to not only decode the numbers but to distill insights that will guide our team towards a successful foray into this dynamic market.

## Scope of Work

- Conduct a thorough exploration of datasets, dissecting funding patterns, sectoral nuances, and geographical hotspots in the Indian startup landscap
- Analyze funding received by startups in india from 2018 to 2021

## Hypothesis 
**Null Hypothesis (H₀)**: There is no significant difference in the average funding received by startups in various regions of India.

**Alternative Hypothesis (H₁)**: There are significant differences in the average funding received by startups in different regions of India.

## Questions 
1. How does funding vary across different industry sectors in India?
2. Are there regional variations in startup funding within India?
3. What is the relationship between funding and startup success or failure?
4. How have funding trends evolved over the years?
5. How do funding amounts vary based on the startup's development stage (For example: early-stage, growth-stage)?

# **DATA EXPLORATION, DATA UNDERSTANDING and DATA ANALYSIS**

In [1]:
# Load libraries
# Database connnection
import pyodbc     
from dotenv import dotenv_values    #import the dotenv_values function from the dotenv package

# Data manipulation
import pandas as pd
import numpy as np

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# filter warnings
import warnings 
warnings.filterwarnings('ignore')

## **1. Loading and Inspection of Data**

**Load data from the SQL server**

In [2]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")

In [3]:
# Create a connection string

connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [4]:
# connect to the database
try:
    connection = pyodbc.connect(connection_string)
except Exception as e:
    print(f'Error: {e}\n{type(e)}')

In [5]:
# sql query to get 2020 data. 
query_2020="SELECT * FROM dbo.LP1_startup_funding2020"

# sql query to get 2021 data. 
query_2021="SELECT * FROM dbo.LP1_startup_funding2021"

In [6]:
    # load 2021 data
data_2021=pd.read_sql(query_2021,connection)

    # load 2020 data
data_2020=pd.read_sql(query_2020,connection)

**Load CSV Files**

In [7]:
# load 2019 data
data_2019=pd.read_csv(r'C:\Users\iamde\OneDrive\Desktop\jupyter\india_startup_data\startup_funding2019.csv')

    # load 2018 data
data_2018=pd.read_csv(r'C:\Users\iamde\OneDrive\Desktop\jupyter\india_startup_data\startup_funding2018.csv')

### **2. Data Exploration and Understanding**

**Preview Each dataset**

In [8]:
# preview the rows and columns for the 2018 dataset
data_2018.sample(5)

,Company Name,Industry,Round/Series,Amount,Location,About Company
475,Urban Ladder,"E-Commerce, E-Commerce Platforms, Furniture, H...",Debt Financing,5600000,"Bangalore, Karnataka, India",Urban Ladder is a Bangalore-based online furni...
87,Asteria Aerospace,Aerospace,Seed,—,"Bangalore, Karnataka, India",Asteria Aerospace is a robotics and artificial...
460,Spoofin,"Music, Social Network, Video",Venture - Series Unknown,—,"New Delhi, Delhi, India",A social networking app that lets you create a...
320,Ora,"Business Travel, Hospitality, Hotel, Marketpla...",Seed,—,"Kolkata, West Bengal, India",Ora is an online marketplace of unique accommo...
108,Impact Guru,"Creative Agency, Crowdfunding, EdTech, Health ...",Series A,"$2,000,000","Mumbai, Maharashtra, India",We're a Harvard incubated crowdfunding platfor...

In [9]:
# get a sample of 2019 dataset
data_2019.sample(5)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
12,Kaleidofin,2018.0,Chennai,Fintech,Platform that provides complete financial solu...,"Puneet Gupta, Sucharita Mukherjee",Oikocredit,"$5,000,000",Series A
47,Ecozen,NaN,Pune,AgriTech,It develops technology-enabled products to str...,"Devendra Gupta, Prateek Singhal, Vivek Pandey",Innovation in Food & Agriculture Fund (IFA Fund),"$6,000,000",Series A
51,Freightwalla,2017.0,Mumbai,B2B,Provides digital platform for businesses to pl...,"Sanjay Bhatia, Bharat Tanvi, Punit Java","Amplo, FJ Labs, Rogue One Capital","$4,000,000",Series A
29,Bijak,2019.0,NaN,AgriTech,B2B platform for agricultural commodities.,"Nukul Upadhye, Mahesh Jakhotia, Jitender Bedwa...","Omnivore and Omidyar Network India, Sequoia Ca...","$2,500,000",Seed fund
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A

In [10]:
# get a sample of 2020 dataset
data_2020.sample(5)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
391,Zuper,2016.0,Seattle,SaaS startup,Zuper is a productivity suite for service busi...,Vijay Narasiman,"Gemba Capital, Gunderson Dettmer",1100000.0,Seed,None
677,Remedo,2017.0,Delhi,Healthtech,The platform connects doctors with patients,"Dr Ruchir Mehra, Harsh Bansal, Richeek Arya",River Rock Ventures. Inflection Point Ventures,NaN,Pre series A,None
69,KIKO TV,2020.0,Mumbai,Video streaming platform,KIKO TV is an AI-based short live video e-comm...,"Shivam Varshney, Alok Chawla","9Point8 Capital, Sunil Kumar Singhvi",NaN,Seed,None
762,Bugworks,2014.0,Bangalore,Biopharma,A drug discovery company that aims to discover...,Anand Anandkumar,"University of Tokyo Edge Capital, Global Brain...",7500000.0,None,None
144,MindTickle,2011.0,Pune,SaaS platform,MindTickle offers the industry's most comprehe...,"Deepak Diwakar, Krishna Depura, Mohit Garg, Ni...","Canaan Partners, NewView Capital",100000000.0,Debt,None

In [11]:
# get a sample of 2021 dataset
data_2021.sample(5)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
971,Chingari,2018.0,Bangalore,Entertainment,Chingari - Bharat Ka Super Entertainment App. ...,Sumit Ghosh,Solana,$19000000,None
287,Jumbotail,2015.0,Bangalore,B2B Ecommerce,Jumbotail is India's leading B2B marketplace a...,"S Karthik Venkateswaran, Ashish Jhina",Invus,$85000000,Series C
1093,Upgame,2017.0,Gurugram,sports,Upgame is the leading data intelligence and pr...,Sameer Sawhney,"James Milner, Adam Lallana",$Undisclosed,None
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
497,Mailmodo,2020.0,Bangalore,Marketing & Advertising,Mailmodo is a complete email marketing solutio...,"Aquibur Rahman, Apurv Gupta, Devyesh Tandon","Sequoia’s Surge, Y Combinator",$2000000,Seed

**Shape of the data**

In [12]:
# get the number of rows and columns for the datasets
print(f"The 2018 dataset has {data_2018.shape[0]} rows and {data_2018.shape[1]} Columns\n")
print(f"The 2019 dataset has {data_2019.shape[0]} rows and {data_2019.shape[1]} Columns\n")
print(f"The 2020 dataset has {data_2020.shape[0]} rows and {data_2020.shape[1]} Columns\n")
print(f"The 2021 dataset has {data_2021.shape[0]} rows and {data_2021.shape[1]} Columns\n\n")

The 2018 dataset has 526 rows and 6 Columns

The 2019 dataset has 89 rows and 9 Columns

The 2020 dataset has 1055 rows and 10 Columns

The 2021 dataset has 1209 rows and 9 Columns

**Info of the data**

In [13]:
# overview of 2018 dataset
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [14]:
# overview of 2019 dataset
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [15]:
# overview of 2020 dataset
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [16]:
# overview of 2021 dataset
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

**Displaying datasets columns**

In [17]:
# 2021 data columns
data_2021.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

In [18]:
# 2020 data columns

data_2020.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'column10'],
      dtype='object')

In [19]:
# 2019 data columns

data_2019.columns

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage'],
      dtype='object')

In [20]:
# 2018 data columns

data_2018.columns

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company'],
      dtype='object')

## **Observations:**

1. There is a discrepancy in the naming conventions between the columns in the 2018 and 2019 datasets compared to the 2020 and 2021 datasets.

2. The 2018 dataset exhibits some missing columns, contributing to an incomplete representation of the data.

3. Conversely, the 2020 dataset contains an additional column that appears to be extraneous and does not serve a meaningful purpose in our analysis.

**Course of Action:**

1. **Missing Column Engineering for 2018:**
   - We will address the absence of certain columns in the 2018 dataset by employing data engineering techniques to create and populate the missing columns, ensuring a comprehensive and consistent dataset.

2. **Column Name Standardization:**
   - To establish uniformity and coherence across all datasets, we will embark on a column renaming process for the 2018 and 2019 datasets. This action aims to align the naming conventions with those observed in the 2020 and 2021 datasets, facilitating seamless data integration and analysis.

3. **Extraneous Column Removal in 2020:**
   - The redundant column identified in the 2020 dataset will be removed, streamlining the dataset and eliminating unnecessary elements that do not contribute to the overall analysis objectives.

These actions collectively enhance the integrity, consistency, and completeness of the dataset, paving the way for a more robust and coherent analytical process.
ical process.

# **3. Data Cleaning**

**Handling missing columns in the 2018 dataset**

In [21]:
# Engineer missing columns for the 2018 dataset
try:
    columns_to_add = ['Founded', 'Founders', 'Investor']
    for column in columns_to_add:
        if column not in data_2018.columns:
            data_2018[column] = np.NaN
except KeyError as e:
    print(f"Error: {e}, Type: {type(e)}")
except Exception as e:
    print(f"Unexpected Error: {e}, Type: {type(e)}")

In [22]:
# display the engineered columns
data_2018.head(2)

,Company Name,Industry,Round/Series,Amount,Location,About Company,Founded,Founders,Investor
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaN,NaN,NaN

**Cleaning column**

In [23]:
# Define a dictionary with old column names as keys and new column names as values
rename_dict_2018 = {
    'Company Name': 'Company/Brand',
    'Industry': 'Sector',
    'Round/Series': 'Stage',
    'About Company': 'What_it_does'
}

rename_dict_2019 = {
    'What it does': 'What_it_does'
}

# Use the rename method to rename columns
data_2018 = data_2018.rename(columns=rename_dict_2018)
data_2019 = data_2019.rename(columns=rename_dict_2019)

for dataframe in [data_2019, data_2020, data_2021]:
    dataframe.rename(columns={'HeadQuarter': 'Location'}, inplace=True)

In [24]:
# 2020 dataset has an extra column
# Remove 2020 column10
data_2020.drop('column10', axis=1, inplace=True)

In [25]:
# display the columns to confirm the changes
# dispaly 2019 dataset
data_2019.head(2)

,Company/Brand,Founded,Location,Sector,What_it_does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C

In [26]:
# dispaly 2020 dataset
data_2020.head(2)

,Company_Brand,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed

In [27]:
# dispaly 2021 dataset
data_2021.head(2)

,Company_Brand,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None

In [28]:
# add year when data was collected column to every dataset
data_2018['Data_year'] = pd.to_datetime('2018', format='%Y').year
data_2019['Data_year'] = pd.to_datetime('2019', format='%Y').year
data_2020['Data_year'] = pd.to_datetime('2020', format='%Y').year
data_2021['Data_year'] = pd.to_datetime('2021', format='%Y').year

Note:  
- We have added a year column to make a data cleaning and analysis simpler going forward

**Merging the DataFrames**

In [29]:
# Merge dataframes
df = pd.concat([data_2018, data_2019, data_2020, data_2021]).reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  615 non-null    object
 1   Sector         2861 non-null   object
 2   Stage          1941 non-null   object
 3   Amount         2533 non-null   object
 4   Location       2765 non-null   object
 5   What_it_does   2879 non-null   object
 6   Founded        2110 non-null   float64
 7   Founders       2334 non-null   object
 8   Investor       2253 non-null   object
 9   Data_year      2879 non-null   int64
 10  Amount($)      89 non-null     object
 11  Company_Brand  2264 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 270.0+ KB

**Join redundant columns**

In [30]:
# Combine 'Amount($)' and 'Amount' without losing any data
df['Amount($)'] = df['Amount'].combine_first(df['Amount($)'])

# Drop the original 'Amount' column as it's now combined
df.drop('Amount', axis=1, inplace=True)

# Rename 'Company_Brand' column without losing any data
df['Company/Brand'] = df['Company/Brand'].combine_first(df['Company_Brand'])

# Drop the original 'Company_Brand' column as it's now combined
df.drop('Company_Brand', axis=1, inplace=True)

In [31]:
# Preview the data to confirm changes
df.head()

,Company/Brand,Sector,Stage,Location,What_it_does,Founded,Founders,Investor,Data_year,Amount($)
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,NaN,2018,250000
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaN,NaN,NaN,2018,"₹40,000,000"
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,NaN,NaN,NaN,2018,"₹65,000,000"
3,PayMe India,"Financial Services, FinTech",Angel,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,NaN,NaN,NaN,2018,2000000
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaN,NaN,NaN,2018,—

In [32]:
# Get rid of '$' "₹"
df['Amount($)'] = pd.to_numeric(df['Amount($)'].replace('[\$,₹]', '', regex=True), errors='coerce')

In [33]:
# preview new merged dataframe
df.sample(20)

,Company/Brand,Sector,Stage,Location,What_it_does,Founded,Founders,Investor,Data_year,Amount($)
2221,BHyve,Human Resources,$300000,Mumbai,A Future of Work Platform for diffusing Employ...,2020.0,Backed by 100x.VC,"Omkar Pandharkame, Ketaki Ogale",2021,NaN
2649,Visit Health,"Health, Wellness & Fitness",None,New Delhi,"Visit is a 360° integrated, highly engaging He...",2015.0,"Shashvat Tripathi, Anurag Prasad, Vaibhav Sing...",Docprime Technologies,2021,7500000.0
1793,Imagimake,Consumer Goods,None,Mumbai,Imagimake – one of the fastest growing and mos...,2011.0,"Disha Katharani, Ravi Jalan",Velocity,2021,NaN
704,Signzy,AI platform,None,Bangalore,Signzy are creating 'building blocks for a Dig...,2015.0,"Ankit Ratan, Ankur Pandey, Arpit Ratan","Stellaris Venture Partners, Mastercard",2020,3000000.0
1825,UpScalio,E-commerce,None,Gurugram,"UpScalio is India’s next generation, data-driv...",2021.0,Gautam Kshatriya,None,2021,42000000.0
172,Gegadyne Energy,"Automotive, Battery, Energy, Energy Storage",Angel,"Mumbai, Maharashtra, India",A Mumbai-based startup Electric Vehicle (EV) &...,NaN,NaN,NaN,2018,NaN
1417,RaRa Delivery,Logistics,Seed Round,None,Provides same day delivery service for ecommer...,NaN,Karan Bhardwaj,"Der Shing Lim, 500 startups",2020,800000.0
862,Zomato,FoodTech,None,Gurugram,Zomato is a food delivery and restaurant disco...,2008.0,"Deepinder Goyal, Gaurav Gupta, Pankaj Chaddah","Kora, Tiger Global Management",2020,52000000.0
268,ZunRoof,"Environmental Consulting, Renewable Energy",Angel,"Gurgaon, Haryana, India",ZunRoof is a rooftop focused solar startup.,NaN,NaN,NaN,2018,16600000.0
1364,Fittr,Fitness,None,Pune,Fitness Social Network & Consultation Platform,NaN,Jitendra Chouksey,"Sequoia Capital Surge, Better Capital",2020,2000000.0
197,SectorQube,"Consumer Electronics, Embedded Systems, Hardwa...",Seed,"Ernakulam, Kerala, India",SectorQube develops smart kitchen devices that...,NaN,NaN,NaN,2018,NaN
1112,Virohan,Healthcare/Edtech,Seed Round & Series A,Gurgaon,Healthcare training company,2018.0,"Kunaal Dudeja, Nalin Saluja, Archit Jayaswal","Keiretsu Forum, Elea Foundation",2020,2800000.0
2486,Magenta EV,Renewable Energy,Series A,Mumbai,Magenta is in the business of Enabling electri...,2017.0,"Maxson Lewis, Darryl Dias","JITO Angel Network, LetsVenture",2021,15000000.0
879,Clair,FinTech,Seed,"New York, United States",Clair is a social fintech that provides Instan...,2019.0,"Alex Kostecki, Erich Nussbaumer, Nico Simko","Upfront Ventures, Walkabout Ventures",2020,4500000.0
2744,Coinshift,Blockchain,Seed,Chandigarh,CoinShift helps businesses and decentralised a...,2021.0,Tarun Gupta,"Sequoia Capital, Sandeep Nailwal",2021,2500000.0
532,Finly,SaaS,NaN,Bangalore,It builds software products that makes work si...,NaN,"Vivek AG, Veekshith C Rai","Social Capital, AngelList India, Gemba Capital...",2019,NaN
737,NIRA,FinTech,None,Bangalore,NIRA promotes financial inclusion by creating ...,2017.0,"Rohit Sen, Nupur Gupta","Techstars Bangalore Accelerator, Techstars",2020,1000000.0
1173,Leap Club,Social e-commerce,None,Gurugram,Community led professional network for women,2020.0,"Ragini Das, Anand Sinha",Titan Capital,2020,NaN
2134,Fixcraft,Automotive,Pre-series A,Gurugram,India's Most Trusted Automotive Repair Brand,2018.0,"Vivek Sharma, Abhishek Goyal, Inderjeet Rao",None,2021,1000000.0
1335,Vernacular ai,AI,Series A,Bangalore,It offers Multiligual AI platform,2016.0,"Gupta, Akshay Deshraj, Manoj Sarda","Exfinity Ventures, IAN Fund",2020,5100000.0

In [34]:
# information of the merged dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  2879 non-null   object
 1   Sector         2861 non-null   object
 2   Stage          1941 non-null   object
 3   Location       2765 non-null   object
 4   What_it_does   2879 non-null   object
 5   Founded        2110 non-null   float64
 6   Founders       2334 non-null   object
 7   Investor       2253 non-null   object
 8   Data_year      2879 non-null   int64
 9   Amount($)      2312 non-null   float64
dtypes: float64(2), int64(1), object(7)
memory usage: 225.1+ KB

In [35]:
# get shape of dataframe
print(f"The data has {df.shape[0]} Rows and {df.shape[1]} Columns")

The data has 2879 Rows and 10 Columns

In [36]:
# get columns of DataFrame
df.columns

Index(['Company/Brand', 'Sector', 'Stage', 'Location', 'What_it_does',
       'Founded', 'Founders', 'Investor', 'Data_year', 'Amount($)'],
      dtype='object')

**Inspect Columns**

In [37]:
#get overview of the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  2879 non-null   object
 1   Sector         2861 non-null   object
 2   Stage          1941 non-null   object
 3   Location       2765 non-null   object
 4   What_it_does   2879 non-null   object
 5   Founded        2110 non-null   float64
 6   Founders       2334 non-null   object
 7   Investor       2253 non-null   object
 8   Data_year      2879 non-null   int64
 9   Amount($)      2312 non-null   float64
dtypes: float64(2), int64(1), object(7)
memory usage: 225.1+ KB

**Observations**  
- The Amount column needs to be converted to numeric 
 
- Data_Year column needs to be converted to date_time

In [38]:
# Convert 'Amount' column to numeric, coerce errors to NaN
df['Amount($)'] = pd.to_numeric(df['Amount($)'], errors='coerce')

# Convert 'Founded' column to datetime and then to 'year' type
df['Founded'] = pd.to_datetime(df['Founded'], format='%Y', errors='coerce').dt.to_period('Y')

# Convert 'Data_year' column to datetime and then to 'year' type
df['Data_year'] = pd.to_datetime(df['Data_year'], format='%Y', errors='coerce').dt.to_period('Y')

# df.sample(10)

In [39]:
# Check for changes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  2879 non-null   object
 1   Sector         2861 non-null   object
 2   Stage          1941 non-null   object
 3   Location       2765 non-null   object
 4   What_it_does   2879 non-null   object
 5   Founded        2110 non-null   period[Y-DEC]
 6   Founders       2334 non-null   object
 7   Investor       2253 non-null   object
 8   Data_year      2879 non-null   period[Y-DEC]
 9   Amount($)      2312 non-null   float64
dtypes: float64(1), object(7), period[Y-DEC](2)
memory usage: 225.1+ KB

In [40]:

# Get unique values from 'Stage' column
data_stage = df['Stage'].unique()

# Define a mapping dictionary for broader categories
mapping_dict = {
    'Seed': ['Seed', 'Pre-Seed', 'Seed funding', 'Seed fund', 'Seed round', \
             'Seed A', 'Seed Funding', 'Pre-seed Round', 'Seed Round & Series A', \
                 'Pre seed Round', 'Pre seed round', \
                     'Seed Investment', 'Seed Round', 'Pre seed round','Early seed'],
    'Series A': ['Series A', 'Seies A','Pre series A', 'Post series A', 'Series A+', 'Series A1', \
                 'Series A2', 'Series A-1','Series A1', 'Pre-series A1', 'Pre-series A'],
    'Angel': ['Angel','Angel Round'],
    'Series B': ['Series B', 'Series B+', 'Series B2', 'Series B3','Pre-Series B','Pre series B'],
    'Series D':'Series D',
    'Private Equity': ['Private Equity', 'PE'],
    'Venture Capital': ['Venture - Series Unknown', 'Corporate Round', 'Venture Capital', 'Venture'],
    'Grant': ['Grant', 'Undisclosed'],
    'Debt Financing': ['Debt Financing', 'Debt'],
    'Post-IPO': ['Post-IPO Debt', 'Post-IPO Equity', 'Post series A', 'Post-IPO'],
    'Series H': ['Series H'],
    'Series C': ['Series C', 'Series C, D', 'Mid series','Pre series C',],
    'Series E': ['Series E', 'Series E2'],
    'Series F':['Series F2','Series F1','Series F'],
    'Bridge':['Bridge','Bridge Round'],
    'Funding Round': ['Funding Round', 'Fresh funding'],
    'Other': [np.NaN, 'None', None, 'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593', \
              'Non-equity Assistance', 'Secondary Market','Edge', '$1200000', '$300000',  '$6000000', '$1000000','Series I','Mid series',]
}

# Define a function to map stages to broader categories using the mapping dictionary
def map_to_broad_category(stage):
    if pd.notna(stage):
        stage_lower = stage.lower()
        for broad_category, subcategories in mapping_dict.items():
            non_float_subcategories = [subcategory for subcategory in subcategories if not isinstance(subcategory, float)]
            if stage_lower in [subcategory.lower() if subcategory is not None else 'None' for subcategory in non_float_subcategories]:
                return broad_category
    return 'Other'

# Create a new column for the broader categories
df['Broad_Stage'] = df['Stage'].apply(map_to_broad_category)

In [41]:
# preview data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  2879 non-null   object
 1   Sector         2861 non-null   object
 2   Stage          1941 non-null   object
 3   Location       2765 non-null   object
 4   What_it_does   2879 non-null   object
 5   Founded        2110 non-null   period[Y-DEC]
 6   Founders       2334 non-null   object
 7   Investor       2253 non-null   object
 8   Data_year      2879 non-null   period[Y-DEC]
 9   Amount($)      2312 non-null   float64
 10  Broad_Stage    2879 non-null   object
dtypes: float64(1), object(8), period[Y-DEC](2)
memory usage: 247.5+ KB

In [42]:
# Check for nulls 
df.isna().sum()

Company/Brand      0
Sector            18
Stage            938
Location         114
What_it_does       0
Founded          769
Founders         545
Investor         626
Data_year          0
Amount($)        567
Broad_Stage        0
dtype: int64