# INDIAN STARTUP ECOSYSTEM

## Project Description
We embark on a journey of discovery as we leverage our data analysis expertise to uncover the untapped potential within the Indian startup ecosystem. This project is designed to not only decode the numbers but to distill insights that will guide our team towards a successful foray into this dynamic market.

## Scope of Work

- Conduct a thorough exploration of datasets, dissecting funding patterns, sectoral nuances, and geographical hotspots in the Indian startup landscap
- Analyze funding received by startups in india from 2018 to 2019

## Hypothesis 
**Null Hypothesis (H₀)**: There is no significant difference in the average funding received by startups in various regions of India.

**Alternative Hypothesis (H₁)**: There are significant differences in the average funding received by startups in different regions of India.

## Questions 
1. How does funding vary across different industry sectors in India?
2. Are there regional variations in startup funding within India?
3. What is the relationship between funding and startup success or failure?
4. How have funding trends evolved over the years?
5. How do funding amounts vary based on the startup's development stage (For example: early-stage, growth-stage)?

# DATA EXPLORATION, DATA UNDERSTANDING and DATA ANALYSIS

In [8]:
# Load libraries
# Database connnection
import pyodbc     
from dotenv import dotenv_values    #import the dotenv_values function from the dotenv package

# Data manipulation
import pandas as pd
import numpy as np

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# filter warnings
import warnings 
warnings.filterwarnings('ignore')

ModuleNotFoundError: No module named 'pandas'

## 1. Loading and Inspection of Data

In [ ]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")

In [ ]:
# Create a connection string
server = "dap-projects-database.database.windows.net"
username = "LP1_learner"
password = "Hyp0th3s!$T3$t!ng"
database = "dapDB"

connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [ ]:
print(connection_string)

DRIVER={SQL Server};SERVER=dap-projects-database.database.windows.net;DATABASE=dapDB;UID=LP1_learner;PWD=Hyp0th3s!$T3$t!ng

In [ ]:
# connect to the database
try:
    connection = pyodbc.connect(connection_string)
except Exception as e:
    print(f'Error: {e}\n{type(e)}')

In [ ]:
# sql query to get 2020 data. 
query_2020="SELECT * FROM dbo.LP1_startup_funding2020"

# sql query to get 2021 data. 
query_2021="SELECT * FROM dbo.LP1_startup_funding2021"

In [ ]:
try:
    # load 2021 data
    data_2021=pd.read_sql(query_2021,connection)

    # load 2020 data
    data_2020=pd.read_sql(query_2020,connection)

    # load 2019 data
    data_2019=pd.read_csv(r'C:\Users\iamde\OneDrive\Desktop\denis\startup_funding2019.csv')

    # load 2018 data
    data_2018=pd.read_csv(r'C:\Users\iamde\OneDrive\Desktop\denis\startup_funding2018.csv')
except Exception as e:
    print(f"Error: {e}, {type(e)}")

Error: [Errno 2] No such file or directory: 'C:\\Users\\iamde\\OneDrive\\Desktop\\denis\\startup_funding2019.csv', <class 'FileNotFoundError'>

### 1.1 Displaying Dataframes

In [ ]:
# preview the rows and columns for the 2018 dataset
data_2018.sample(5)

,Company Name,Industry,Round/Series,Amount,Location,About Company
427,RAHI Care,"Health Care, Hospital",Venture - Series Unknown,—,"Chandigarh, Chandigarh, India",RAHI Care is a Health Care company.
477,DailyNinja,"Apps, Mobile, Mobile Apps, Software",Series A,—,"Bengaluru, Karnataka, India","Daily Ninja, a mobile app that delivers daily ..."
520,SlicePay,"FinTech, Internet, Payments, Service Industry",Series A,14900000,"Bengaluru, Karnataka, India",SlicePay is an AI based instant credit app for...
38,Pipa+Bella,"E-Commerce, Fashion, Jewelry, Retail",Series A,1000000,"Mumbai, Maharashtra, India",Pipa+Bella is an online store aimed at selling...
302,Fasal,"Agriculture, AgTech, Artificial Intelligence, ...",Seed,120000,"Bengaluru, Karnataka, India",Climate Smart Precision Agriculture Platform

In [ ]:
# get a sample of 2019 dataset
data_2019.sample(5)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
69,Nivesh.com,2016.0,Noida,Mutual Funds,The platform simplifies the process of investment,"Anurag Garg, Sridhar Srinivasan",Windrose Capital,"$600,000",NaN
62,PiBeam,NaN,Chennai,Automotive tech,It is engaged in building sustainable and affo...,Visakh Sasikumar,GAIL (India) Ltd,"$50,000,000",NaN
12,Kaleidofin,2018.0,Chennai,Fintech,Platform that provides complete financial solu...,"Puneet Gupta, Sucharita Mukherjee",Oikocredit,"$5,000,000",Series A
64,Moms Co,NaN,New Delhi,E-commerce,It is into mother and baby care-focused consum...,Malika Sadani,"Saama Capital, DSG Consumer Partners","$5,000,000",Series B
45,Afinoz,NaN,Noida,Fintech,Online financial marketplace for customized ra...,Rachna Suneja,Fintech innovation lab,Undisclosed,NaN

In [ ]:
# get a sample of 2020 dataset
data_2020.sample(5)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
1042,Super Surfaces,NaN,Hyderabad,Deisgning,A design solution based company,Kumar Varma,Vishnu Reddy,500000.0,Series A,None
1049,Fashor,2017.0,Chennai,Fashion,Women’s fashion and apparel,"Vikram Kankaria, Priyanka Kankaria",Sprout venture partners,1000000.0,Pre Series A,None
555,Entri,2017.0,Kochi,Edtech,Local language learning startup,Mohammed Hisamuddin,Good Capital,1700000.0,Pre series A,None
655,HealthPlix,2016.0,Bangalore,Healthtech,It provides clinical software for doctors,"Raghuraj Sunder Raju, Prasad Basavaraj, Sandee...","JSW Ventures, Chiratae Ventures, Kalaari Capital",6000000.0,Series B,None
806,Recko,2017.0,Bangalore,SaaS,The platform enables AI-powered reconciliation...,"Prashant Border, Saurya Prakash Sinha",Vertex Ventures,6000000.0,Series A,None

In [ ]:
# get a sample of 2021 dataset
data_2021.sample(5)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
46,WeWork India,2017.0,Bangalore,Hospitality,"Transform buildings into beautiful, collaborat...",Karan Virwani,None,"$26,000,000",None
319,Battery Smart,2019.0,New Delhi,Battery,Battery Smart provides advanced Li-ion batteri...,"Pulkit Khurana, Siddharth Sikka",Orios Venture Partners,Undisclosed,Seed
661,Skillmatics,2016.0,Mumbai,EdTech,Skillmatics develops learning games for pre-sc...,Dhvanil Sheth,Sequoia Capital India,$6000000,Series A
859,Sarathi,2020.0,Jodhpur,HealthCare,"Offer a range of services like lab tests, cons...",Aditi Poyam,None,"$100,000",Seed
779,Ezstays,2019.0,New Delhi,EdTech,"Ezstays is a leading student-life network, pro...","Vaibhav Khanna, Abhishek Kumar, Kumar Gaurav",Richard Rekhy,"$400,000",Seed

### 1.2 Data Inspection and Exploration

### 1.2.1 Shape of the data

In [ ]:
# get the number of rows and columns for the datasets
print(f"The 2018 dataset has {data_2018.shape[0]} rows and {data_2018.shape[1]} Columns\n")
print(f"The 2019 dataset has {data_2019.shape[0]} rows and {data_2019.shape[1]} Columns\n")
print(f"The 2020 dataset has {data_2020.shape[0]} rows and {data_2020.shape[1]} Columns\n")
print(f"The 2021 dataset has {data_2021.shape[0]} rows and {data_2021.shape[1]} Columns\n\n")

The 2018 dataset has 526 rows and 6 Columns

The 2019 dataset has 89 rows and 9 Columns

The 2020 dataset has 1055 rows and 10 Columns

The 2021 dataset has 1209 rows and 9 Columns

### 1.2.2 Info of the data

In [ ]:
# overview of 2018 dataset
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [ ]:
# overview of 2019 dataset
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [ ]:
# overview of 2020 dataset
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [ ]:
# overview of 2021 dataset
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

### 1.2.3 Displaying datasets columns

In [ ]:
data_2021.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

In [ ]:
data_2020.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'column10'],
      dtype='object')

In [ ]:
data_2019.columns

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage'],
      dtype='object')

In [ ]:
data_2018.columns

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company'],
      dtype='object')

## **Observations:**

1. There is a discrepancy in the naming conventions between the columns in the 2018 and 2019 datasets compared to the 2020 and 2021 datasets.

2. The 2018 dataset exhibits some missing columns, contributing to an incomplete representation of the data.

3. Conversely, the 2020 dataset contains an additional column that appears to be extraneous and does not serve a meaningful purpose in our analysis.

**Course of Action:**

1. **Missing Column Engineering for 2018:**
   - We will address the absence of certain columns in the 2018 dataset by employing data engineering techniques to create and populate the missing columns, ensuring a comprehensive and consistent dataset.

2. **Column Name Standardization:**
   - To establish uniformity and coherence across all datasets, we will embark on a column renaming process for the 2018 and 2019 datasets. This action aims to align the naming conventions with those observed in the 2020 and 2021 datasets, facilitating seamless data integration and analysis.

3. **Extraneous Column Removal in 2020:**
   - The redundant column identified in the 2020 dataset will be removed, streamlining the dataset and eliminating unnecessary elements that do not contribute to the overall analysis objectives.

These actions collectively enhance the integrity, consistency, and completeness of the dataset, paving the way for a more robust and coherent analytical process.
ical process.

# 2. Data Cleaning

## 2.1 Handling missing columns in the 2018 dataset

In [ ]:
# Engineer missing columns for the 2018 dataset
import numpy as np

try:
    columns_to_add = ['Founded', 'Founders', 'Investor']
    for column in columns_to_add:
        if column not in data_2018.columns:
            data_2018[column] = np.NaN
except KeyError as e:
    print(f"Error: {e}, Type: {type(e)}")
except Exception as e:
    print(f"Unexpected Error: {e}, Type: {type(e)}")

In [ ]:
# display the engineered columns
data_2018.head(2)

,Company Name,Industry,Round/Series,Amount,Location,About Company,Founded,Founders,Investor
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaN,NaN,NaN

In [ ]:
# Define a dictionary with old column names as keys and new column names as values
rename_dict_2018 = {
    'Company Name': 'Company_Brand',
    'Industry': 'Sector',
    'Round/Series': 'Stage',
    'About Company': 'What_it_does'
}

rename_dict_2019 = {
    'Company/Brand': 'Company_Brand',
    'What it does': 'What_it_does',
    'Amount($)': 'Amount'
}

# Use the rename method to rename columns
data_2018 = data_2018.rename(columns=rename_dict_2018)
data_2019 = data_2019.rename(columns=rename_dict_2019)

for dataframe in [data_2019, data_2020, data_2021]:
    dataframe.rename(columns={'HeadQuarter': 'Location'}, inplace=True)

In [ ]:
# 2020 dataset has an extra column
# Remove 2020 column10
data_2020.drop('column10', axis=1, inplace=True)

In [ ]:
# display the columns to confirm the changes
# dispaly 2019 dataset
data_2019.head(2)

,Company_Brand,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C

In [ ]:
# dispaly 2020 dataset
data_2020.head(2)

,Company_Brand,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed

In [ ]:
# dispaly 2021 dataset
data_2021.head(2)

,Company_Brand,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None

In [ ]:
# add year when data was collected column to every dataset
data_2018['Data_year'] = pd.to_datetime('2018', format='%Y').year
data_2019['Data_year'] = pd.to_datetime('2019', format='%Y').year
data_2020['Data_year'] = pd.to_datetime('2020', format='%Y').year
data_2021['Data_year'] = pd.to_datetime('2021', format='%Y').year

Note:  
- We have added a year column to make a data cleaning and analysis simpler going forward

### 2.3 Merging the DataFrames

In [ ]:
# Merge dataframes
df = pd.concat([data_2018, data_2019, data_2020, data_2021]).reset_index(drop=True)

In [ ]:
# preview new merged dataframe
df.head()

,Company_Brand,Sector,Stage,Amount,Location,What_it_does,Founded,Founders,Investor,Data_year
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,NaN,2018
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaN,NaN,NaN,2018
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,NaN,NaN,NaN,2018
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,NaN,NaN,NaN,2018
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaN,NaN,NaN,2018

In [ ]:
# information of the merged dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  2879 non-null   object
 1   Sector         2861 non-null   object
 2   Stage          1941 non-null   object
 3   Amount         2622 non-null   object
 4   Location       2765 non-null   object
 5   What_it_does   2879 non-null   object
 6   Founded        2110 non-null   float64
 7   Founders       2334 non-null   object
 8   Investor       2253 non-null   object
 9   Data_year      2879 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(8)
memory usage: 225.1+ KB