# INDIAN STARTUP ECOSYSTEM

## Project Description
We embark on a journey of discovery as we leverage our data analysis expertise to uncover the untapped potential within the Indian startup ecosystem. This project is designed to not only decode the numbers but to distill insights that will guide our team towards a successful foray into this dynamic market.

## Scope of Work

- Conduct a thorough exploration of datasets, dissecting funding patterns, sectoral nuances, and geographical hotspots in the Indian startup landscap
- Analyze funding received by startups in india from 2018 to 2019

## Hypothesis 
**Null Hypothesis (H₀)**: There is no significant difference in the average funding received by startups in various regions of India.

**Alternative Hypothesis (H₁)**: There are significant differences in the average funding received by startups in different regions of India.

## Questions 
1. How does funding vary across different industry sectors in India?
2. Are there regional variations in startup funding within India?
3. What is the relationship between funding and startup success or failure?
4. How have funding trends evolved over the years?
5. How do funding amounts vary based on the startup's development stage (For example: early-stage, growth-stage)?

# DATA EXPLORATION, DATA UNDERSTANDING and DATA ANALYSIS

In [59]:
# Load libraries
# Database connnection
import pyodbc     
from dotenv import dotenv_values    #import the dotenv_values function from the dotenv package

# Data manipulation
import pandas as pd
import numpy as np

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# filter warnings
import warnings 
warnings.filterwarnings('ignore')

# surpress scientific notations
pd.options.display.float_format = '{:.10f}'.format

## 1. Loading and Inspection of Data

In [60]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")

In [61]:
# Create a connection string

connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [62]:
# connect to the database
try:
    connection = pyodbc.connect(connection_string)
except Exception as e:
    print(f'Error: {e}\n{type(e)}')

In [63]:
# sql query to get 2020 data. 
query_2020="SELECT * FROM dbo.LP1_startup_funding2020"

# sql query to get 2021 data. 
query_2021="SELECT * FROM dbo.LP1_startup_funding2021"

In [64]:
try:
    # load 2021 data
    data_2021=pd.read_sql(query_2021,connection)

    # load 2020 data
    data_2020=pd.read_sql(query_2020,connection)

    # load 2019 data
    data_2019=pd.read_csv(r'C:\Users\iamde\OneDrive\Desktop\jupyter\india_startup_data\startup_funding2019.csv')

    # load 2018 data
    data_2018=pd.read_csv(r'C:\Users\iamde\OneDrive\Desktop\jupyter\india_startup_data\startup_funding2018.csv')
except Exception as e:
    print(f"Error: {e}, {type(e)}")

### 1.1 Displaying Dataframes

In [65]:
# preview the rows and columns for the 2018 dataset
data_2018.sample(5)

,Company Name,Industry,Round/Series,Amount,Location,About Company
461,Strom Motors,Automotive,Angel,—,"Mumbai, Maharashtra, India",Strom Motors is a smart urban mobility Company.
23,BlueJack,Autonomous Vehicles,Seed,"₹64,000,000","Delhi, Delhi, India",Delhi-based online used vehicles marketplace.
125,Ambee,"Health Care, Medical Device, Public Safety",Angel,—,"Bangalore, Karnataka, India",Ambee is an Environment analytics startup.
169,iChamp,E-Learning,Seed,5000000,"Gurgaon, Haryana, India",iChamp is an e education innovation product fr...
468,Goals101,Financial Services,Seed,3500000,"Delhi, Delhi, India",Goals101 is a one of the fastest growing big-d...

In [66]:
# get a sample of 2019 dataset
data_2019.sample(5)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
77,Sarva,NaN,Chennai,Yoga & wellness,It drives a cultural change in making yoga-bas...,Sarvesh Shashi,"Venture fund, Fireside Ventures.","$2,800,000",NaN
58,Origo,2010.0000000000,Gurugram,AgriTech,It provides post-harvest management services f...,"Mayank Dhanuka, Sunoor Kaul","Oikocredit, Caspian SME Impact Fund IV, Triod...","$6,800,000",NaN
27,Fireflies .ai,NaN,NaN,AI,Developer of an artificial intelligence-powere...,Sam Udotong,Canaan Partners,"$5,000,000",NaN
43,Slintel,2016.0000000000,NaN,SaaS,It helps sales and marketing teams understand ...,Deepak Anchala,Stellaris Ventures,"$1,500,000",NaN
65,Cubical Labs,2013.0000000000,NaN,IoT,Home automation solution provider,"Dhruv Ratra, Swati Vyas",Rockstud Capital,Undisclosed,Series B

In [67]:
# get a sample of 2020 dataset
data_2020.sample(5)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
343,SucSEED,2016.0000000000,Hyderabad,Finance,Venture Partners,Vikrant Varshney,"DR. Moti Vyas, Udit Goyal",1300000.0000000000,None,None
122,NIRA,2017.0000000000,Bangalore,FinTech,NIRA promotes financial inclusion by creating ...,"Rohit Sen, Nupur Gupta","Techstars Bangalore Accelerator, Techstars",1000000.0000000000,None,None
717,Mintoak,NaN,Mumbai,Fintech,Merchant payment solutions startup,"Raman Khanduja, Sanjay Nazareth",Pravega Ventures,2000000.0000000000,Pre series A,None
847,Ola Electric,NaN,Bangalore,eMobility,Electric vehicle,"Ankit Jain, Anand Shah",Pawan Munjal Family Trust Fund,1000000.0000000000,None,None
536,Probus Smart Things,NaN,Delhi,IoT,Platform for monitoring distribution sub-stati...,"Anand Singh, Ankit Vaish",Unicorn India Ventures,NaN,Seed round,None

In [68]:
# get a sample of 2021 dataset
data_2021.sample(5)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
774,Leap Finance,2019.0000000000,Bangalore,FinTech,Leap Finance is a fintech startup for Indian s...,Vaibhav Singh,Jungle Ventures,"$17,000,000",Series B
1129,BeepKart,2020.0000000000,Bangalore,Automotive,BeepKart is building a platform to digitize an...,"Hemir Doshi, Abhishek Saraf","Stellaris Venture Partners, Chiratae Ventures",$3000000,Seed
666,India Quotient,2012.0000000000,Mumbai,Venture capitalist,India Quotient is a new type of early stage in...,"Anand Lunia, Madhukar Sinha",None,$64000000,None
170,Hash,2020.0000000000,New Delhi,Tobacco,Hash is a new startup in consumer goods.,Shwetank Jain,Amrac Investment Trust,$3500000,None
736,BYJU'S,2011.0000000000,Bangalore,EdTech,BYJU'S is an educational technology company th...,"Byju Raveendran, Divya Gokulnath","BlackRock, Owl Ventures","$460,000,000",Series F

### 1.2 Data Inspection and Exploration

### 1.2.1 Shape of the data

In [69]:
# get the number of rows and columns for the datasets
print(f"The 2018 dataset has {data_2018.shape[0]} rows and {data_2018.shape[1]} Columns\n")
print(f"The 2019 dataset has {data_2019.shape[0]} rows and {data_2019.shape[1]} Columns\n")
print(f"The 2020 dataset has {data_2020.shape[0]} rows and {data_2020.shape[1]} Columns\n")
print(f"The 2021 dataset has {data_2021.shape[0]} rows and {data_2021.shape[1]} Columns\n\n")

The 2018 dataset has 526 rows and 6 Columns

The 2019 dataset has 89 rows and 9 Columns

The 2020 dataset has 1055 rows and 10 Columns

The 2021 dataset has 1209 rows and 9 Columns

### 1.2.2 Info of the data

In [70]:
# overview of 2018 dataset
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [71]:
# overview of 2019 dataset
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [72]:
# overview of 2020 dataset
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [73]:
# overview of 2021 dataset
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

### 1.2.3 Displaying datasets columns

In [74]:
# 2021 data columns
data_2021.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

In [75]:
# 2020 data columns

data_2020.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'column10'],
      dtype='object')

In [76]:
# 2019 data columns

data_2019.columns

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage'],
      dtype='object')

In [77]:
# 2018 data columns

data_2018.columns

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company'],
      dtype='object')

## **Observations:**

1. There is a discrepancy in the naming conventions between the columns in the 2018 and 2019 datasets compared to the 2020 and 2021 datasets.

2. The 2018 dataset exhibits some missing columns, contributing to an incomplete representation of the data.

3. Conversely, the 2020 dataset contains an additional column that appears to be extraneous and does not serve a meaningful purpose in our analysis.

**Course of Action:**

1. **Missing Column Engineering for 2018:**
   - We will address the absence of certain columns in the 2018 dataset by employing data engineering techniques to create and populate the missing columns, ensuring a comprehensive and consistent dataset.

2. **Column Name Standardization:**
   - To establish uniformity and coherence across all datasets, we will embark on a column renaming process for the 2018 and 2019 datasets. This action aims to align the naming conventions with those observed in the 2020 and 2021 datasets, facilitating seamless data integration and analysis.

3. **Extraneous Column Removal in 2020:**
   - The redundant column identified in the 2020 dataset will be removed, streamlining the dataset and eliminating unnecessary elements that do not contribute to the overall analysis objectives.

These actions collectively enhance the integrity, consistency, and completeness of the dataset, paving the way for a more robust and coherent analytical process.
ical process.

# 2. Data Cleaning

## 2.1 Handling missing columns in the 2018 dataset

In [78]:
# Engineer missing columns for the 2018 dataset
try:
    columns_to_add = ['Founded', 'Founders', 'Investor']
    for column in columns_to_add:
        if column not in data_2018.columns:
            data_2018[column] = np.NaN
except KeyError as e:
    print(f"Error: {e}, Type: {type(e)}")
except Exception as e:
    print(f"Unexpected Error: {e}, Type: {type(e)}")

In [79]:
# display the engineered columns
data_2018.head(2)

,Company Name,Industry,Round/Series,Amount,Location,About Company,Founded,Founders,Investor
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaN,NaN,NaN

### 2.2 Cleaning column names

In [80]:
# Define a dictionary with old column names as keys and new column names as values
rename_dict_2018 = {
    'Company Name': 'Company/Brand',
    'Industry': 'Sector',
    'Round/Series': 'Stage',
    'About Company': 'What_it_does'
}

rename_dict_2019 = {
    'What it does': 'What_it_does'
}

# Use the rename method to rename columns
data_2018 = data_2018.rename(columns=rename_dict_2018)
data_2019 = data_2019.rename(columns=rename_dict_2019)

for dataframe in [data_2019, data_2020, data_2021]:
    dataframe.rename(columns={'HeadQuarter': 'Location'}, inplace=True)

In [81]:
# 2020 dataset has an extra column
# Remove 2020 column10
data_2020.drop('column10', axis=1, inplace=True)

In [82]:
# display the columns to confirm the changes
# dispaly 2019 dataset
data_2019.head(2)

,Company/Brand,Founded,Location,Sector,What_it_does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0000000000,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C

In [83]:
# dispaly 2020 dataset
data_2020.head(2)

,Company_Brand,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Aqgromalin,2019.0000000000,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0000000000,None
1,Krayonnz,2019.0000000000,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0000000000,Pre-seed

In [84]:
# dispaly 2021 dataset
data_2021.head(2)

,Company_Brand,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0000000000,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0000000000,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None

In [85]:
# add year when data was collected column to every dataset
data_2018['Data_year'] = pd.to_datetime('2018', format='%Y').year
data_2019['Data_year'] = pd.to_datetime('2019', format='%Y').year
data_2020['Data_year'] = pd.to_datetime('2020', format='%Y').year
data_2021['Data_year'] = pd.to_datetime('2021', format='%Y').year

Note:  
- We have added a year column to make a data cleaning and analysis simpler going forward

### 2.3 Merging the DataFrames

In [86]:
# Merge dataframes
df = pd.concat([data_2018, data_2019, data_2020, data_2021]).reset_index(drop=True)

In [87]:
# Get rid of '$' "₹"
df['Amount($)'] = pd.to_numeric(df['Amount($)'].replace('[\$,₹]', '', regex=True), errors='coerce')

In [88]:
# preview new merged dataframe
df.head()

,Company/Brand,Sector,Stage,Amount,Location,What_it_does,Founded,Founders,Investor,Data_year,Amount($),Company_Brand
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,NaN,2018,NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaN,NaN,NaN,2018,NaN,NaN
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,NaN,NaN,NaN,2018,NaN,NaN
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,NaN,NaN,NaN,2018,NaN,NaN
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaN,NaN,NaN,2018,NaN,NaN

In [89]:
# information of the merged dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  615 non-null    object
 1   Sector         2861 non-null   object
 2   Stage          1941 non-null   object
 3   Amount         2533 non-null   object
 4   Location       2765 non-null   object
 5   What_it_does   2879 non-null   object
 6   Founded        2110 non-null   float64
 7   Founders       2334 non-null   object
 8   Investor       2253 non-null   object
 9   Data_year      2879 non-null   int64
 10  Amount($)      77 non-null     float64
 11  Company_Brand  2264 non-null   object
dtypes: float64(2), int64(1), object(9)
memory usage: 270.0+ KB

In [90]:
# get shape of dataframe
print(f"The data has {df.shape[0]} Rows and {df.shape[1]} Columns")

The data has 2879 Rows and 12 Columns

In [91]:
# get columns of DataFrame
df.columns

Index(['Company/Brand', 'Sector', 'Stage', 'Amount', 'Location',
       'What_it_does', 'Founded', 'Founders', 'Investor', 'Data_year',
       'Amount($)', 'Company_Brand'],
      dtype='object')

### 2.4 Inspect Columns

In [92]:
#get overview of the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  615 non-null    object
 1   Sector         2861 non-null   object
 2   Stage          1941 non-null   object
 3   Amount         2533 non-null   object
 4   Location       2765 non-null   object
 5   What_it_does   2879 non-null   object
 6   Founded        2110 non-null   float64
 7   Founders       2334 non-null   object
 8   Investor       2253 non-null   object
 9   Data_year      2879 non-null   int64
 10  Amount($)      77 non-null     float64
 11  Company_Brand  2264 non-null   object
dtypes: float64(2), int64(1), object(9)
memory usage: 270.0+ KB

**Observations**  
- The Amount column needs to be converted to numeric 
 
- Data_Year column needs to be converted to date_time

In [93]:
# Convert 'Amount' column to numeric, coerce errors to NaN
df['Amount'] = pd.to_numeric(df['Amount'], errors='coerce')

# Convert 'Founded' column to datetime and then to 'year' type
df['Founded'] = pd.to_datetime(df['Founded'], format='%Y', errors='coerce').dt.to_period('Y')

# Convert 'Data_year' column to datetime and then to 'year' type
df['Data_year'] = pd.to_datetime(df['Data_year'], format='%Y', errors='coerce').dt.to_period('Y')

# df.sample(10)

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  615 non-null    object
 1   Sector         2861 non-null   object
 2   Stage          1941 non-null   object
 3   Amount         976 non-null    float64
 4   Location       2765 non-null   object
 5   What_it_does   2879 non-null   object
 6   Founded        2110 non-null   period[Y-DEC]
 7   Founders       2334 non-null   object
 8   Investor       2253 non-null   object
 9   Data_year      2879 non-null   period[Y-DEC]
 10  Amount($)      77 non-null     float64
 11  Company_Brand  2264 non-null   object
dtypes: float64(2), object(8), period[Y-DEC](2)
memory usage: 270.0+ KB

In [95]:
df.sample(10)

,Company/Brand,Sector,Stage,Amount,Location,What_it_does,Founded,Founders,Investor,Data_year,Amount($),Company_Brand
16,Mihuru,"Finance, Internet, Travel",Seed,150000.0000000000,"Mumbai, Maharashtra, India",Mihuru is an online platform which gives micro...,NaT,NaN,NaN,2018,NaN,NaN
2215,NaN,EdTech,None,NaN,Noida,A tech solution for end to end career advisory...,2016,"Vamsi Krishna, Pulkit Jain, Gaurav Munjal\t#REF!",$1000000,2021,NaN,AdmitKard
1663,NaN,Automobile Technology,Series B,14700000.0000000000,Delhi,Find automobile repair and maintenance service...,2016,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...","Chiratae Ventures, Sequoia Capital, Orios Vent...",2020,NaN,GoMechanic
704,NaN,AI platform,None,3000000.0000000000,Bangalore,Signzy are creating 'building blocks for a Dig...,2015,"Ankit Ratan, Ankur Pandey, Arpit Ratan","Stellaris Venture Partners, Mastercard",2020,NaN,Signzy
303,CoinGeto,"Cryptocurrency, Trading Platform",Seed,NaN,"Delhi, Delhi, India",CoinGeto is one of India’s most advanced digit...,NaT,NaN,NaN,2018,NaN,NaN
2677,NaN,Finance,Series E,NaN,Bangalore,CRED is a credit card payment platform that re...,2018,Kunal Shah,"Tiger Global, Falcon Edge",2021,NaN,CRED
1751,NaN,Tech Startup,Seed,NaN,Bangalore,"Zoko makes it easy for businesses to do Sales,...",2016,"Arjun Paul, Aromal Sivadasan",Y Combinator,2021,NaN,Zoko
873,NaN,Reatil startup,Pre-series A,NaN,Kolkata,Rare Planet sells handicrafts made by local ar...,2015,"Ranodeep Saha, Vijay Kumar",Venture Catalysts,2020,NaN,Rare Planet
2841,NaN,FinTech,Pre-series A,NaN,Bangalore,A daily gold-savings app that saves spare chan...,2021,"Nishchay AG, Misbah Ashraf","Tribe Capital, Arkam Ventures, WEH, Kunal Shah",2021,NaN,Jar
1624,NaN,Automotive and Rentals,Series D,97500000.0000000000,Bangalore,Offers a variety of bikes and scooters that ca...,2014,"Vivekananda Hallekere, Anil Giri Raju,Arun Agni","Accel Partners, B Capital",2020,NaN,Bounce

In [96]:

# Get unique values from 'Stage' column
data_stage = df['Stage'].unique()

# Define a mapping dictionary for broader categories
mapping_dict = {
    'Seed': ['Seed', 'Pre-Seed', 'Seed funding', 'Seed fund', 'Seed round', \
             'Seed A', 'Seed Funding', 'Pre-seed Round', 'Seed Round & Series A', \
                 'Pre seed Round', 'Pre seed round', \
                     'Seed Investment', 'Seed Round', 'Pre seed round','Early seed'],
    'Series A': ['Series A', 'Seies A','Pre series A', 'Post series A', 'Series A+', 'Series A1', \
                 'Series A2', 'Series A-1','Series A1', 'Pre-series A1', 'Pre-series A'],
    'Angel': ['Angel','Angel Round'],
    'Series B': ['Series B', 'Series B+', 'Series B2', 'Series B3','Pre-Series B','Pre series B'],
    'Series D':'Series D',
    'Private Equity': ['Private Equity', 'PE'],
    'Venture Capital': ['Venture - Series Unknown', 'Corporate Round', 'Venture Capital', 'Venture'],
    'Grant': ['Grant', 'Undisclosed'],
    'Debt Financing': ['Debt Financing', 'Debt'],
    'Post-IPO': ['Post-IPO Debt', 'Post-IPO Equity', 'Post series A', 'Post-IPO'],
    'Series H': ['Series H'],
    'Series C': ['Series C', 'Series C, D', 'Mid series','Pre series C',],
    'Series E': ['Series E', 'Series E2'],
    'Series F':['Series F2','Series F1','Series F'],
    'Bridge':['Bridge','Bridge Round'],
    'Funding Round': ['Funding Round', 'Fresh funding'],
    'Other': [np.NaN, 'None', None, 'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593', \
              'Non-equity Assistance', 'Secondary Market','Edge', '$1200000', '$300000',  '$6000000', '$1000000','Series I','Mid series',]
}

# Define a function to map stages to broader categories using the mapping dictionary
def map_to_broad_category(stage):
    if pd.notna(stage):
        stage_lower = stage.lower()
        for broad_category, subcategories in mapping_dict.items():
            non_float_subcategories = [subcategory for subcategory in subcategories if not isinstance(subcategory, float)]
            if stage_lower in [subcategory.lower() if subcategory is not None else 'None' for subcategory in non_float_subcategories]:
                return broad_category
    return 'Other'

# Create a new column for the broader categories
df['Broad_Stage'] = df['Stage'].apply(map_to_broad_category)

In [97]:
# preview data
df.sample(5)

,Company/Brand,Sector,Stage,Amount,Location,What_it_does,Founded,Founders,Investor,Data_year,Amount($),Company_Brand,Broad_Stage
2337,NaN,HealthCare,Seed,NaN,Gurugram,The Switch Fix is a plant-based clean and cons...,2019,"Abhishek Kumar, Rhea Shukla","Venture Catalysts, 9unicorns",2021,NaN,The Switch Fix,Seed
2086,NaN,FinTech,Seed,NaN,Bangalore,Siply Services operates as a micro-savings pla...,2020,Sousthav Chakrabarty,Inflection Point Ventures,2021,NaN,Siply,Seed
129,Zestl,Software,Seed,NaN,"Pune, Maharashtra, India",No-Code Workflow Automation. Build enterprise ...,NaT,NaN,NaN,2018,NaN,NaN,Seed
117,Moglix,"B2B, E-Commerce, Mobile",Series C,NaN,"Noida, Uttar Pradesh, India",Moglix is a supplier of industrial tools like ...,NaT,NaN,NaN,2018,NaN,NaN,Series C
1181,NaN,Nutrition tech,None,133000.0000000000,Mumbai,It plans meals in consultation from fitness ex...,2018,"Silky Singh, Alkheya Boora Rpsey",Ah! Ventures,2020,NaN,Ripsey,Other