# INDIAN STARTUP ECOSYSTEM

## Project Description
We embark on a journey of discovery as we leverage our data analysis expertise to uncover the untapped potential within the Indian startup ecosystem. This project is designed to not only decode the numbers but to distill insights that will guide our team towards a successful foray into this dynamic market.

## Scope of Work

- Conduct a thorough exploration of datasets, dissecting funding patterns, sectoral nuances, and geographical hotspots in the Indian startup landscap
- Analyze funding received by startups in india from 2018 to 2019

## Hypothesis 
**Null Hypothesis (H₀)**: There is no significant difference in the average funding received by startups in various regions of India.

**Alternative Hypothesis (H₁)**: There are significant differences in the average funding received by startups in different regions of India.

## Questions 
1. How does funding vary across different industry sectors in India?
2. Are there regional variations in startup funding within India?
3. What is the relationship between funding and startup success or failure?
4. How have funding trends evolved over the years?
5. How do funding amounts vary based on the startup's development stage (For example: early-stage, growth-stage)?

# DATA EXPLORATION, DATA UNDERSTANDING and DATA ANALYSIS

In [1]:
# Load libraries
# Database connnection
import pyodbc     
from dotenv import dotenv_values    #import the dotenv_values function from the dotenv package

# Data manipulation
import pandas as pd
import numpy as np

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# filter warnings
import warnings 
warnings.filterwarnings('ignore')

## 1. Loading and Inspection of Data

In [2]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")

In [3]:
# Create a connection string

connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [4]:
# connect to the database
try:
    connection = pyodbc.connect(connection_string)
except Exception as e:
    print(f'Error: {e}\n{type(e)}')

In [5]:
# sql query to get 2020 data. 
query_2020="SELECT * FROM dbo.LP1_startup_funding2020"

# sql query to get 2021 data. 
query_2021="SELECT * FROM dbo.LP1_startup_funding2021"

In [6]:
try:
    # load 2021 data
    data_2021=pd.read_sql(query_2021,connection)

    # load 2020 data
    data_2020=pd.read_sql(query_2020,connection)

    # load 2019 data
    data_2019=pd.read_csv(r'C:\Users\iamde\OneDrive\Desktop\jupyter\india_startup_data\startup_funding2019.csv')

    # load 2018 data
    data_2018=pd.read_csv(r'C:\Users\iamde\OneDrive\Desktop\jupyter\india_startup_data\startup_funding2018.csv')
except Exception as e:
    print(f"Error: {e}, {type(e)}")

### 1.1 Displaying Dataframes

In [7]:
# preview the rows and columns for the 2018 dataset
data_2018.sample(5)

,Company Name,Industry,Round/Series,Amount,Location,About Company
7,Hyperdata.IO,Market Research,Angel,"₹50,000,000","Hyderabad, Andhra Pradesh, India",Hyperdata combines advanced machine learning w...
143,MyNewCar.in,"Automotive, E-Commerce",Venture - Series Unknown,"$1,000,000","Gurgaon, Haryana, India",MyNewCar.in offers new cars at best price with...
403,Vizzbee,"Artificial Intelligence, Drones, Navigation, P...",Pre-Seed,"$20,000","Bhopal, Madhya Pradesh, India",Autonomous Drone Solutions for last mile deliv...
233,Planys Technologies,"Manufacturing, Oil and Gas, Robotics",Series A,"₹140,200,000","Chennai, Tamil Nadu, India",Planys Technologies is India’s first and only ...
44,Letstrack,"Apps, Messaging, Navigation, Public Safety",Seed,1700000,"New Delhi, Delhi, India",Letstrack GPS tracking devices to track your k...

In [8]:
# get a sample of 2019 dataset
data_2019.sample(5)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
74,Credr,2014.0,Mumbai,Automobile,A marketplace to buy and sell used bikes and s...,Mittal,"Omidyar Network, Eight Roads Ventures, GrowthS...","$6,000,000",NaN
9,Lenskart,2010.0,Delhi,E-commerce,It is a eyewear company,"Peyush Bansal, Amit Chaudhary, Sumeet Kapahi",SoftBank,"$275,000,000",Series G
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN
81,Zoomcar,2013.0,Bangalore,Transport & Rentals,A car rental service platform,"Greg Moran, David Back",Zoomcar Inc,"$4,800,000",NaN
44,MyGameMate,NaN,Bangalore,E-Sports,eSports platform where players can access vari...,Parshavv Jain& Raju Kushwaha,"Jindagi Live Angels,","$100,000",NaN

In [9]:
# get a sample of 2020 dataset
data_2020.sample(5)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
26,Glance,2016.0,Bangalore,AI startup,Glance is a screen zero platform that consumer...,Naveen Tewari,Mithril Capital Management.,145000000.0,None,None
72,Smallcase,2015.0,Bangalore,FinTech,Changing how India invests in equities,"Anugrah Shrivastava, Rohan Gupta, Vasanth Kamath","WEH Ventures, BEENEXT",NaN,None,None
564,iNurture,2009.0,Bangalore,Edtech,"It provides a conducive and healthy teaching, ...",Ashwin Ajila,BlackSoil Capital,1340000.0,None,None
557,MPowered,NaN,Gurugram,SaaS,Asset Management Solutions,Sudeep Singh,"Ashok Nichani, Shelly Nichani",21000000.0,Pre series A,None
143,Arzooo,2016.0,Bangalore,Tech Startup,"B2B retail tech platform transforming 300,000+...","Khushnud Khan, Rishi Raj Rathore","3Lines, Jabbar Internet Group",NaN,None,None

In [10]:
# get a sample of 2021 dataset
data_2021.sample(5)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
1022,BookingJini,2017.0,Gurugram,Hospitality,BookingJini strive to empower Hotels from all ...,"Deepak Dash, Gourab Kumar Nandy, Manoj Pandia,...",Mumbai Angels Network,$1200000,Pre-series A
609,Fable Fintech,2015.0,Mumbai,FinTech,Fable Fintech is being seed-funded by the CCAv...,Naushad Contractor,Paytm,$Undisclosed,Series A
293,Ninety One,2015.0,Ahmedabad,Consumer Goods,"Ninety One makes cycles, which the company cla...","Sachin Chopra, Vishal Chopra",A91 Partners,$30000000,Series A
1203,Cogos Technologies,2016.0,Bangalore,Logistics & Supply Chain,A smart-tech-enabled platform offering a one-s...,Prasad Sreeram,Transworld Group,$2000000,Pre-series A
187,GoSats,2020.0,Bangalore,FinTech,GoSats is a bitcoin stacking app that lets use...,"Mohammed Roshan, Roshni Aslam","Alphabit Fund, Fulgur Ventures, Stacks Acceler...",$700000,Seed

### 1.2 Data Inspection and Exploration

### 1.2.1 Shape of the data

In [11]:
# get the number of rows and columns for the datasets
print(f"The 2018 dataset has {data_2018.shape[0]} rows and {data_2018.shape[1]} Columns\n")
print(f"The 2019 dataset has {data_2019.shape[0]} rows and {data_2019.shape[1]} Columns\n")
print(f"The 2020 dataset has {data_2020.shape[0]} rows and {data_2020.shape[1]} Columns\n")
print(f"The 2021 dataset has {data_2021.shape[0]} rows and {data_2021.shape[1]} Columns\n\n")

The 2018 dataset has 526 rows and 6 Columns

The 2019 dataset has 89 rows and 9 Columns

The 2020 dataset has 1055 rows and 10 Columns

The 2021 dataset has 1209 rows and 9 Columns

### 1.2.2 Info of the data

In [12]:
# overview of 2018 dataset
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [13]:
# overview of 2019 dataset
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [14]:
# overview of 2020 dataset
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [15]:
# overview of 2021 dataset
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

### 1.2.3 Displaying datasets columns

In [16]:
data_2021.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

In [17]:
data_2020.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'column10'],
      dtype='object')

In [18]:
data_2019.columns

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage'],
      dtype='object')

In [19]:
data_2018.columns

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company'],
      dtype='object')

## **Observations:**

1. There is a discrepancy in the naming conventions between the columns in the 2018 and 2019 datasets compared to the 2020 and 2021 datasets.

2. The 2018 dataset exhibits some missing columns, contributing to an incomplete representation of the data.

3. Conversely, the 2020 dataset contains an additional column that appears to be extraneous and does not serve a meaningful purpose in our analysis.

**Course of Action:**

1. **Missing Column Engineering for 2018:**
   - We will address the absence of certain columns in the 2018 dataset by employing data engineering techniques to create and populate the missing columns, ensuring a comprehensive and consistent dataset.

2. **Column Name Standardization:**
   - To establish uniformity and coherence across all datasets, we will embark on a column renaming process for the 2018 and 2019 datasets. This action aims to align the naming conventions with those observed in the 2020 and 2021 datasets, facilitating seamless data integration and analysis.

3. **Extraneous Column Removal in 2020:**
   - The redundant column identified in the 2020 dataset will be removed, streamlining the dataset and eliminating unnecessary elements that do not contribute to the overall analysis objectives.

These actions collectively enhance the integrity, consistency, and completeness of the dataset, paving the way for a more robust and coherent analytical process.
ical process.

# 2. Data Cleaning

## 2.1 Handling missing columns in the 2018 dataset

In [20]:
# Engineer missing columns for the 2018 dataset
try:
    columns_to_add = ['Founded', 'Founders', 'Investor']
    for column in columns_to_add:
        if column not in data_2018.columns:
            data_2018[column] = np.NaN
except KeyError as e:
    print(f"Error: {e}, Type: {type(e)}")
except Exception as e:
    print(f"Unexpected Error: {e}, Type: {type(e)}")

In [21]:
# display the engineered columns
data_2018.head(2)

,Company Name,Industry,Round/Series,Amount,Location,About Company,Founded,Founders,Investor
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaN,NaN,NaN

In [22]:
# Define a dictionary with old column names as keys and new column names as values
rename_dict_2018 = {
    'Company Name': 'Company/Brand',
    'Industry': 'Sector',
    'Round/Series': 'Stage',
    'About Company': 'What_it_does'
}

rename_dict_2019 = {
    'What it does': 'What_it_does'
}

# Use the rename method to rename columns
data_2018 = data_2018.rename(columns=rename_dict_2018)
data_2019 = data_2019.rename(columns=rename_dict_2019)

for dataframe in [data_2019, data_2020, data_2021]:
    dataframe.rename(columns={'HeadQuarter': 'Location'}, inplace=True)

In [23]:
# 2020 dataset has an extra column
# Remove 2020 column10
data_2020.drop('column10', axis=1, inplace=True)

In [24]:
# display the columns to confirm the changes
# dispaly 2019 dataset
data_2019.head(2)

,Company/Brand,Founded,Location,Sector,What_it_does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C

In [25]:
# dispaly 2020 dataset
data_2020.head(2)

,Company_Brand,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed

In [26]:
# dispaly 2021 dataset
data_2021.head(2)

,Company_Brand,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None

In [27]:
# add year when data was collected column to every dataset
data_2018['Data_year'] = pd.to_datetime('2018', format='%Y').year
data_2019['Data_year'] = pd.to_datetime('2019', format='%Y').year
data_2020['Data_year'] = pd.to_datetime('2020', format='%Y').year
data_2021['Data_year'] = pd.to_datetime('2021', format='%Y').year

Note:  
- We have added a year column to make a data cleaning and analysis simpler going forward

### 2.3 Merging the DataFrames

In [28]:
# Merge dataframes
df = pd.concat([data_2018, data_2019, data_2020, data_2021]).reset_index(drop=True)

In [29]:
# preview new merged dataframe
df.head()

,Company/Brand,Sector,Stage,Amount,Location,What_it_does,Founded,Founders,Investor,Data_year,Amount($),Company_Brand
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,NaN,2018,NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaN,NaN,NaN,2018,NaN,NaN
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,NaN,NaN,NaN,2018,NaN,NaN
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,NaN,NaN,NaN,2018,NaN,NaN
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaN,NaN,NaN,2018,NaN,NaN

In [30]:
# information of the merged dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  615 non-null    object
 1   Sector         2861 non-null   object
 2   Stage          1941 non-null   object
 3   Amount         2533 non-null   object
 4   Location       2765 non-null   object
 5   What_it_does   2879 non-null   object
 6   Founded        2110 non-null   float64
 7   Founders       2334 non-null   object
 8   Investor       2253 non-null   object
 9   Data_year      2879 non-null   int64
 10  Amount($)      89 non-null     object
 11  Company_Brand  2264 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 270.0+ KB

In [31]:
# get shape of dataframe
print(f"The data has {df.shape[0]} Rows and {df.shape[1]} Columns")

The data has 2879 Rows and 12 Columns

In [32]:
# get columns of DataFrame
df.columns

Index(['Company/Brand', 'Sector', 'Stage', 'Amount', 'Location',
       'What_it_does', 'Founded', 'Founders', 'Investor', 'Data_year',
       'Amount($)', 'Company_Brand'],
      dtype='object')

### 2.4 Inspect Columns

In [33]:
#get overview of the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  615 non-null    object
 1   Sector         2861 non-null   object
 2   Stage          1941 non-null   object
 3   Amount         2533 non-null   object
 4   Location       2765 non-null   object
 5   What_it_does   2879 non-null   object
 6   Founded        2110 non-null   float64
 7   Founders       2334 non-null   object
 8   Investor       2253 non-null   object
 9   Data_year      2879 non-null   int64
 10  Amount($)      89 non-null     object
 11  Company_Brand  2264 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 270.0+ KB

**Observations**  
- The Amount column needs to be converted to numeric 
 
- Data_Year column needs to be converted to date_time

In [34]:
# Convert 'Amount' column to numeric, coerce errors to NaN
df['Amount'] = pd.to_numeric(df['Amount'], errors='coerce')

# Convert 'Founded' column to datetime and then to 'year' type
df['Founded'] = pd.to_datetime(df['Founded'], format='%Y', errors='coerce').dt.to_period('Y')

# Convert 'Data_year' column to datetime and then to 'year' type
df['Data_year'] = pd.to_datetime(df['Data_year'], format='%Y', errors='coerce').dt.to_period('Y')

# df.sample(10)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  615 non-null    object
 1   Sector         2861 non-null   object
 2   Stage          1941 non-null   object
 3   Amount         976 non-null    float64
 4   Location       2765 non-null   object
 5   What_it_does   2879 non-null   object
 6   Founded        2110 non-null   period[Y-DEC]
 7   Founders       2334 non-null   object
 8   Investor       2253 non-null   object
 9   Data_year      2879 non-null   period[Y-DEC]
 10  Amount($)      89 non-null     object
 11  Company_Brand  2264 non-null   object
dtypes: float64(1), object(9), period[Y-DEC](2)
memory usage: 270.0+ KB

In [36]:
df.sample(10)

,Company/Brand,Sector,Stage,Amount,Location,What_it_does,Founded,Founders,Investor,Data_year,Amount($),Company_Brand
2129,NaN,EdTech,Series A,NaN,Chennai,An innovative place to explore next-generation...,2012,"Sneha Priya, Pranavan S",Mount Judi India Growth Fund,2021,NaN,SP Robotic Works
859,NaN,Car Service,Seed,NaN,Noida,India's largest cloud based digital discovery ...,NaT,Pankaj Sharma,None,2020,NaN,Hire Me Car
140,OTO Capital,Automotive,Seed,NaN,"Mumbai, Maharashtra, India",OTO Capital is a platform that allows you to o...,NaT,NaN,NaN,2018,NaN,NaN
2001,NaN,EdTech,Pre-series A,NaN,Pune,"Pariksha - The Sucess App, India's largest ver...",2015,"Deepak Choudhary, Karanvir Singh Shekhawat, Ut...","Venture Catalysts, 9Unicorns Accelerator Fund",2021,NaN,Pariksha
2051,NaN,B2B Marketplace,None,NaN,Bangalore,Gig Economy Platform | Task Fulfillment Platfo...,2018,"Prashant Janadari, Naveen Ramchandra",Quess Corp India,2021,NaN,Taskmo
773,NaN,PaaS startup,Seed,2000000.0,Bangalore,BitClass is a PaaS solution which helps teache...,2020,"Gunjan Kejriwal, Utsav Tiwary","AET Japan, Figure Eight Investments, Waterbrid...",2020,NaN,BitClass
2441,NaN,Cultural,None,NaN,Pune,Indian Souvenirs online that reflect Indian tr...,2019,Sunil Jalihal,Marquee investors,2021,NaN,Indic Inspirations
2568,NaN,Online Media,None,NaN,Lucknow,Knocksense is a local news and recommendations...,2016,"Varul Mayank, Vibhore Mayank","We Founder Circle, Appyhigh, Mumbai Angels",2021,NaN,Knocksense
1246,NaN,Beauty,None,4327000.0,Mumbai,On-demand beauty services provider,2015,Darpan Sanghvi,"Tano India, L’Occitane, Bessemer",2020,NaN,Myglamm
153,Fric Bergen,—,Venture - Series Unknown,NaN,"Alwar, Rajasthan, India",Fric Bergen is a leader in the specialty food ...,NaT,NaN,NaN,2018,NaN,NaN

In [43]:
import pandas as pd
import numpy as np

# Get unique values from 'Stage' column
data_stage = df['Stage'].unique()

# Define a mapping dictionary for broader categories
mapping_dict = {
    'Seed': ['Seed', 'Pre-Seed', 'Seed funding', 'Seed fund', 'Seed round', \
             'Seed A', 'Seed Funding', 'Pre-seed Round', 'Seed Round & Series A', \
                 'Pre seed Round', 'Pre seed round', \
                     'Seed Investment', 'Seed Round', 'Pre seed round','Early seed'],
    'Series A': ['Series A', 'Seies A','Pre series A', 'Post series A', 'Series A+', 'Series A1', \
                 'Series A2', 'Series A-1','Series A1', 'Pre-series A1', 'Pre-series A'],
    'Angel': ['Angel','Angel Round'],
    'Series B': ['Series B', 'Series B+', 'Series B2', 'Series B3','Pre-Series B','Pre series B'],
    'Private Equity': ['Private Equity', 'PE'],
    'Venture Capital': ['Venture - Series Unknown', 'Corporate Round', 'Venture Capital', 'Venture'],
    'Grant': ['Grant', 'Undisclosed'],
    'Debt Financing': ['Debt Financing', 'Debt'],
    'Post-IPO': ['Post-IPO Debt', 'Post-IPO Equity', 'Post series A', 'Post-IPO'],
    'Series H': ['Series H'],
    'Series C': ['Series C', 'Series C, D', 'Mid series','Pre series C',],
    'Series E': ['Series E', 'Series E2'],
    'Series F':['Series F2','Series F1','Series F'],
    'Bridge':['Bridge','Bridge Round'],
    'Funding Round': ['Funding Round', 'Fresh funding'],
    'Other': [np.nan, 'None', None, 'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593', \
              'Non-equity Assistance', 'Secondary Market', 'Series D','Edge', '$1200000', '$300000',  '$6000000', '$1000000','Series\
                 I','Mid series',]
}

# Define a function to map stages to broader categories using the mapping dictionary
def map_to_broad_category(stage):
    if pd.notna(stage):
        stage_lower = stage.lower()
        for broad_category, subcategories in mapping_dict.items():
            non_float_subcategories = [subcategory for subcategory in subcategories if not isinstance(subcategory, float)]
            if stage_lower in [subcategory.lower() if subcategory is not None else 'None' for subcategory in non_float_subcategories]:
                return broad_category
    return np.nan

# Create a new column for the broader categories
df['Broad_Stage'] = df['Stage'].apply(map_to_broad_category)

In [40]:
df

,Company/Brand,Sector,Stage,Amount,Location,What_it_does,Founded,Founders,Investor,Data_year,Amount($),Company_Brand,Broad_Stage
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000.0,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaT,NaN,NaN,2018,NaN,NaN,Seed
1,Happy Cow Dairy,"Agriculture, Farming",Seed,NaN,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaT,NaN,NaN,2018,NaN,NaN,Seed
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,NaN,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,NaT,NaN,NaN,2018,NaN,NaN,Series A
3,PayMe India,"Financial Services, FinTech",Angel,2000000.0,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,NaT,NaN,NaN,2018,NaN,NaN,Angel
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,NaN,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaT,NaN,NaN,2018,NaN,NaN,Seed
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2874,NaN,Staffing & Recruiting,Pre-series A,NaN,Gurugram,A gig/on-demand staffing company.,2019,"Chirag Mittal, Anirudh Syal",Endiya Partners,2021,NaN,Gigforce,Series A
2875,NaN,Food & Beverages,Series D,NaN,New Delhi,VAHDAM is among the world’s first vertically i...,2015,Bala Sarda,IIFL AMC,2021,NaN,Vahdam,Other
2876,NaN,Financial Services,Series C,NaN,Bangalore,International education loans for high potenti...,2019,"Arnav Kumar, Vaibhav Singh",Owl Ventures,2021,NaN,Leap Finance,Series C
2877,NaN,EdTech,Series B,NaN,Gurugram,"Collegedekho.com is Student’s Partner, Friend ...",2015,Ruchir Arora,"Winter Capital, ETS, Man Capital",2021,NaN,CollegeDekho,Series B
2878,NaN,Financial Services,Series A,NaN,Bangalore,India’s first socially distributed full stack ...,2019,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",2021,NaN,WeRize,Series A