# INDIAN STARTUP ECOSYSTEM

## Project Description
We embark on a journey of discovery as we leverage our data analysis expertise to uncover the untapped potential within the Indian startup ecosystem. This project is designed to not only decode the numbers but to distill insights that will guide our team towards a successful foray into this dynamic market.

## Scope of Work

- Conduct a thorough exploration of datasets, dissecting funding patterns, sectoral nuances, and geographical hotspots in the Indian startup landscap
- Analyze funding received by startups in india from 2018 to 2019

## Hypothesis 
**Null Hypothesis (H₀)**: There is no significant difference in the average funding received by startups in various regions of India.

**Alternative Hypothesis (H₁)**: There are significant differences in the average funding received by startups in different regions of India.

## Questions 
1. How does funding vary across different industry sectors in India?
2. Are there regional variations in startup funding within India?
3. What is the relationship between funding and startup success or failure?
4. How have funding trends evolved over the years?
5. How do funding amounts vary based on the startup's development stage (For example: early-stage, growth-stage)?

# DATA EXPLORATION, DATA UNDERSTANDING and DATA ANALYSIS

In [70]:
# Load libraries
# Database connnection
import pyodbc     
from dotenv import dotenv_values    #import the dotenv_values function from the dotenv package

# Data manipulation
import pandas as pd
import numpy as np

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# filter warnings
import warnings 
warnings.filterwarnings('ignore')

## 1. Loading and Inspection of Data

In [71]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")

In [72]:
# Create a connection string

connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [73]:
print(connection_string)

DRIVER={SQL Server};SERVER=dap-projects-database.database.windows.net;DATABASE=dapDB;UID=LP1_learner;PWD=Hyp0th3s!$T3$t!ng

In [74]:
# connect to the database
try:
    connection = pyodbc.connect(connection_string)
except Exception as e:
    print(f'Error: {e}\n{type(e)}')

Error: ('08001', '[08001] [Microsoft][ODBC SQL Server Driver][DBNETLIB]SQL Server does not exist or access denied. (17) (SQLDriverConnect); [08001] [Microsoft][ODBC SQL Server Driver][DBNETLIB]ConnectionOpen (Connect()). (53)')
<class 'pyodbc.OperationalError'>

In [75]:
# sql query to get 2020 data. 
query_2020="SELECT * FROM dbo.LP1_startup_funding2020"

# sql query to get 2021 data. 
query_2021="SELECT * FROM dbo.LP1_startup_funding2021"

In [76]:
try:
    # load 2021 data
    data_2021=pd.read_sql(query_2021,connection)

    # load 2020 data
    data_2020=pd.read_sql(query_2020,connection)

    # load 2019 data
    data_2019=pd.read_csv(r'C:\Users\iamde\OneDrive\Desktop\jupyter\india_startup_data\startup_funding2019.csv')

    # load 2018 data
    data_2018=pd.read_csv(r'C:\Users\iamde\OneDrive\Desktop\jupyter\india_startup_data\startup_funding2018.csv')
except Exception as e:
    print(f"Error: {e}, {type(e)}")

Error: Execution failed on sql: SELECT * FROM dbo.LP1_startup_funding2021
('01000', '[01000] [Microsoft][ODBC SQL Server Driver][DBNETLIB]ConnectionWrite (send()). (10054) (SQLExecDirectW); [01000] [Microsoft][ODBC SQL Server Driver][DBNETLIB]General network error. Check your network documentation. (11)')
unable to rollback, <class 'pandas.errors.DatabaseError'>

### 1.1 Displaying Dataframes

In [77]:
# preview the rows and columns for the 2018 dataset
data_2018.sample(5)

,Company_Brand,Sector,Stage,Amount,Location,What_it_does,Founded,Founders,Investor,Data_year
32,Loanzen,Financial Services,Seed,—,"Bangalore, Karnataka, India",Loanzen helps small businesses get unsecured w...,NaN,NaN,NaN,2018
163,Rockmetric,Information Technology,Grant,—,"Mumbai, Maharashtra, India",Smarter analytics to understand how each custo...,NaN,NaN,NaN,2018
252,Kobster,"E-Commerce, Facilities Support Services, Procu...",Seed,—,"Chennai, Tamil Nadu, India",Kobster is a pioneer of B2B eProcurement and a...,NaN,NaN,NaN,2018
352,Gaia Smart Cities,"Smart Cities, Telecommunications",Seed,—,"Mumbai, Maharashtra, India",Gaia Smart Cities is an early leader in the ra...,NaN,NaN,NaN,2018
208,Streo,Music Streaming,Seed,—,"Gurgaon, Haryana, India","Live stream music from nightclubs, bars & fest...",NaN,NaN,NaN,2018

In [78]:
# get a sample of 2019 dataset
data_2019.sample(5)

,Company_Brand,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Data_year
66,Lawyered,2015.0,Delhi,Legal tech,It helps to connect to legal advise online,"Ashish Bhatia, Himanshu Gupta","Pramendra Tomar, Ratish Pandey, Munish Bhatia,...","$100,000",NaN,2019
11,Appnomic,NaN,Bangalore,SaaS,"It is a self-healing enterprise, the IT operat...",D Padmanabhan,Avataar Ventures,"$22,000,000",NaN,2019
75,Sportido,2015.0,Noida,Sports,It is a sports discovery app that helps to fin...,"Neeraj Aggarwala, Akhil Ramachandran","Inflection Point Ventures, SucSEED Venture Par...",Undisclosed,Series B,2019
43,Slintel,2016.0,NaN,SaaS,It helps sales and marketing teams understand ...,Deepak Anchala,Stellaris Ventures,"$1,500,000",NaN,2019
8,Quantiphi,NaN,NaN,AI & Tech,It is an AI and big data services company prov...,Renuka Ramnath,Multiples Alternate Asset Management,"$20,000,000",Series A,2019

In [79]:
# get a sample of 2020 dataset
data_2020.sample(5)

,Company_Brand,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Data_year
1030,FabAlley,2012.0,Noida,Ecommerce,Online fashion store,"Tanvi Malik, Shivani Poddar.",Trifecta Capital,1100000.0,None,2020
696,Eggoz,2017.0,Bihar,Agritech,"Provides technology backed, deep integration s...",Uttam Kumar,"Tracxn Labs, Angellist, Tri-Deep Capital",329000.0,Seed Round,2020
991,Tea Trunk,2013.0,Goa,Beverage,Global premium tea brand,"Snigdha Manchanda, Vikas Kumar, Aishwarya Malhi",Angel investors,220000.0,None,2020
511,Stack Finance,2019.0,Bangalore,Fintech,"It automates invesments, expenses, borrowing u...",Smriti Tomar,"SOSV, MOX (Mobile Only Accelerator)",NaN,Seed round,2020
405,Melorra,2015.0,Bangalore,Jewellery,"Buy Latest Gold, Diamond & Gemstone Jewellery ...","Saroja Yeramilli, R Krishnakumar","Shadows Holdings, Lightbox",8090000.0,Debt,2020

In [80]:
# get a sample of 2021 dataset
data_2021.sample(5)

,Company_Brand,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage,Data_year
410,Lohum,2017.0,Noida,EV startup,Lohum manufactures lithium-ion battery packs a...,Rajat Verma,"Baring Private Equity Partners India, Talbros","$7,000,000",None,2021
363,GoTo,2020.0,Ghaziabad,Transportation,Real Time Intercity City Transit Platform For ...,"Akhilesh Sagar, Harsh Vardhan Sharma",Jesse Lucas,"$150,000",None,2021
71,WiT-ACE,2020.0,Gurugram,Skill development,Offer accelerated career experiences for women...,Anuranjita Kumar,CitiusTech,"$1,000,000",Seed,2021
644,Fampay,2019.0,Bangalore,FinTech,India's first numberless card and UPI without ...,"Kush Taneja, Sambhav Jain","Greenoaks Capital, Elevation Capital",$38000000,Series A,2021
1001,Duroflex,1963.0,Bangalore,Furniture,"5 decades of experience, superior quality and ...",P. C. Mathew,Norwest Venture Partners,$60000000,None,2021

### 1.2 Data Inspection and Exploration

### 1.2.1 Shape of the data

In [81]:
# get the number of rows and columns for the datasets
print(f"The 2018 dataset has {data_2018.shape[0]} rows and {data_2018.shape[1]} Columns\n")
print(f"The 2019 dataset has {data_2019.shape[0]} rows and {data_2019.shape[1]} Columns\n")
print(f"The 2020 dataset has {data_2020.shape[0]} rows and {data_2020.shape[1]} Columns\n")
print(f"The 2021 dataset has {data_2021.shape[0]} rows and {data_2021.shape[1]} Columns\n\n")

The 2018 dataset has 526 rows and 10 Columns

The 2019 dataset has 89 rows and 10 Columns

The 2020 dataset has 1055 rows and 10 Columns

The 2021 dataset has 1209 rows and 10 Columns

### 1.2.2 Info of the data

In [82]:
# overview of 2018 dataset
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  526 non-null    object
 1   Sector         526 non-null    object
 2   Stage          526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   What_it_does   526 non-null    object
 6   Founded        0 non-null      float64
 7   Founders       0 non-null      float64
 8   Investor       0 non-null      float64
 9   Data_year      526 non-null    int64
dtypes: float64(3), int64(1), object(6)
memory usage: 41.2+ KB

In [83]:
# overview of 2019 dataset
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   Location       70 non-null     object
 3   Sector         84 non-null     object
 4   What_it_does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount         89 non-null     object
 8   Stage          43 non-null     object
 9   Data_year      89 non-null     int64
dtypes: float64(1), int64(1), object(8)
memory usage: 7.1+ KB

In [84]:
# overview of 2020 dataset
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   Location       961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   Data_year      1055 non-null   int64
dtypes: float64(2), int64(1), object(7)
memory usage: 82.6+ KB

In [85]:
# overview of 2021 dataset
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   Location       1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
 9   Data_year      1209 non-null   int64
dtypes: float64(1), int64(1), object(8)
memory usage: 94.6+ KB

### 1.2.3 Displaying datasets columns

In [86]:
data_2021.columns

Index(['Company_Brand', 'Founded', 'Location', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'Data_year'],
      dtype='object')

In [87]:
data_2020.columns

Index(['Company_Brand', 'Founded', 'Location', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'Data_year'],
      dtype='object')

In [88]:
data_2019.columns

Index(['Company_Brand', 'Founded', 'Location', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'Data_year'],
      dtype='object')

In [89]:
data_2018.columns

Index(['Company_Brand', 'Sector', 'Stage', 'Amount', 'Location',
       'What_it_does', 'Founded', 'Founders', 'Investor', 'Data_year'],
      dtype='object')

## **Observations:**

1. There is a discrepancy in the naming conventions between the columns in the 2018 and 2019 datasets compared to the 2020 and 2021 datasets.

2. The 2018 dataset exhibits some missing columns, contributing to an incomplete representation of the data.

3. Conversely, the 2020 dataset contains an additional column that appears to be extraneous and does not serve a meaningful purpose in our analysis.

**Course of Action:**

1. **Missing Column Engineering for 2018:**
   - We will address the absence of certain columns in the 2018 dataset by employing data engineering techniques to create and populate the missing columns, ensuring a comprehensive and consistent dataset.

2. **Column Name Standardization:**
   - To establish uniformity and coherence across all datasets, we will embark on a column renaming process for the 2018 and 2019 datasets. This action aims to align the naming conventions with those observed in the 2020 and 2021 datasets, facilitating seamless data integration and analysis.

3. **Extraneous Column Removal in 2020:**
   - The redundant column identified in the 2020 dataset will be removed, streamlining the dataset and eliminating unnecessary elements that do not contribute to the overall analysis objectives.

These actions collectively enhance the integrity, consistency, and completeness of the dataset, paving the way for a more robust and coherent analytical process.
ical process.

# 2. Data Cleaning

## 2.1 Handling missing columns in the 2018 dataset

In [90]:
# Engineer missing columns for the 2018 dataset
try:
    columns_to_add = ['Founded', 'Founders', 'Investor']
    for column in columns_to_add:
        if column not in data_2018.columns:
            data_2018[column] = np.NaN
except KeyError as e:
    print(f"Error: {e}, Type: {type(e)}")
except Exception as e:
    print(f"Unexpected Error: {e}, Type: {type(e)}")

In [91]:
# display the engineered columns
data_2018.head(2)

,Company_Brand,Sector,Stage,Amount,Location,What_it_does,Founded,Founders,Investor,Data_year
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,NaN,2018
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaN,NaN,NaN,2018

In [92]:
# Define a dictionary with old column names as keys and new column names as values
rename_dict_2018 = {
    'Company Name': 'Company_Brand',
    'Industry': 'Sector',
    'Round/Series': 'Stage',
    'About Company': 'What_it_does'
}

rename_dict_2019 = {
    'Company/Brand': 'Company_Brand',
    'What it does': 'What_it_does',
    'Amount($)': 'Amount'
}

# Use the rename method to rename columns
data_2018 = data_2018.rename(columns=rename_dict_2018)
data_2019 = data_2019.rename(columns=rename_dict_2019)

for dataframe in [data_2019, data_2020, data_2021]:
    dataframe.rename(columns={'HeadQuarter': 'Location'}, inplace=True)

In [94]:
# 2020 dataset has an extra column
# Remove 2020 column10
data_2020.drop('column10', axis=1, inplace=True)

In [ ]:
# display the columns to confirm the changes
# dispaly 2019 dataset
data_2019.head(2)

,Company_Brand,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C

In [ ]:
# dispaly 2020 dataset
data_2020.head(2)

,Company_Brand,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed

In [ ]:
# dispaly 2021 dataset
data_2021.head(2)

,Company_Brand,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None

In [ ]:
# add year when data was collected column to every dataset
data_2018['Data_year'] = pd.to_datetime('2018', format='%Y').year
data_2019['Data_year'] = pd.to_datetime('2019', format='%Y').year
data_2020['Data_year'] = pd.to_datetime('2020', format='%Y').year
data_2021['Data_year'] = pd.to_datetime('2021', format='%Y').year

Note:  
- We have added a year column to make a data cleaning and analysis simpler going forward

### 2.3 Merging the DataFrames

In [ ]:
# Merge dataframes
df = pd.concat([data_2018, data_2019, data_2020, data_2021]).reset_index(drop=True)

In [ ]:
# preview new merged dataframe
df.head()

,Company_Brand,Sector,Stage,Amount,Location,What_it_does,Founded,Founders,Investor,Data_year
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,NaN,2018
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaN,NaN,NaN,2018
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,NaN,NaN,NaN,2018
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,NaN,NaN,NaN,2018
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaN,NaN,NaN,2018

In [ ]:
# information of the merged dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  2879 non-null   object
 1   Sector         2861 non-null   object
 2   Stage          1941 non-null   object
 3   Amount         2622 non-null   object
 4   Location       2765 non-null   object
 5   What_it_does   2879 non-null   object
 6   Founded        2110 non-null   float64
 7   Founders       2334 non-null   object
 8   Investor       2253 non-null   object
 9   Data_year      2879 non-null   int64
dtypes: float64(1), int64(1), object(8)
memory usage: 225.1+ KB