# INDIAN STARTUP ECOSYSTEM

## Project Description
We embark on a journey of discovery as we leverage our data analysis expertise to uncover the untapped potential within the Indian startup ecosystem. This project is designed to not only decode the numbers but to distill insights that will guide our team towards a successful foray into this dynamic market.

## Scope of Work

- Conduct a thorough exploration of datasets, dissecting funding patterns, sectoral nuances, and geographical hotspots in the Indian startup landscap
- Analyze funding received by startups in india from 2018 to 2019

## Hypothesis 
**Null Hypothesis (H₀)**: There is no significant difference in the average funding received by startups in various regions of India.

**Alternative Hypothesis (H₁)**: There are significant differences in the average funding received by startups in different regions of India.

## Questions 
1. How does funding vary across different industry sectors in India?
2. Are there regional variations in startup funding within India?
3. What is the relationship between funding and startup success or failure?
4. How have funding trends evolved over the years?
5. How do funding amounts vary based on the startup's development stage (For example: early-stage, growth-stage)?

# DATA EXPLORATION, DATA UNDERSTANDING and DATA ANALYSIS

In [1]:
# Load libraries
# Database connnection
import pyodbc     
from dotenv import dotenv_values    #import the dotenv_values function from the dotenv package

# Data manipulation
import pandas as pd
import numpy as np

# Data visualization
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# filter warnings
import warnings 
warnings.filterwarnings('ignore')

# surpress scientific notations
pd.options.display.float_format = '{:.10f}'.format

## 1. Loading and Inspection of Data

In [2]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")

In [3]:
# Create a connection string

connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [4]:
# connect to the database
try:
    connection = pyodbc.connect(connection_string)
except Exception as e:
    print(f'Error: {e}\n{type(e)}')

In [5]:
# sql query to get 2020 data. 
query_2020="SELECT * FROM dbo.LP1_startup_funding2020"

# sql query to get 2021 data. 
query_2021="SELECT * FROM dbo.LP1_startup_funding2021"

In [6]:
try:
    # load 2021 data
    data_2021=pd.read_sql(query_2021,connection)

    # load 2020 data
    data_2020=pd.read_sql(query_2020,connection)

    # load 2019 data
    data_2019=pd.read_csv(r'C:\Users\iamde\OneDrive\Desktop\jupyter\india_startup_data\startup_funding2019.csv')

    # load 2018 data
    data_2018=pd.read_csv(r'C:\Users\iamde\OneDrive\Desktop\jupyter\india_startup_data\startup_funding2018.csv')
except Exception as e:
    print(f"Error: {e}, {type(e)}")

### 1.1 Displaying Dataframes

In [7]:
# preview the rows and columns for the 2018 dataset
data_2018.sample(5)

,Company Name,Industry,Round/Series,Amount,Location,About Company
299,i2ifunding,"Crowdfunding, Finance, Financial Services",Angel,"₹50,000,000","Noida, Uttar Pradesh, India",i2ifunding is an online marketplace that conne...
85,Racetrack,"Artificial Intelligence, Cloud Computing, Video",Seed,"₹342,000,000","Bangalore, Karnataka, India",Racetrack is a sales and support-focused AI-dr...
142,Khabri,"Apps, Audio",Seed,—,"Haryana, Haryana, India",Khabri is a digital audio platform for content...
72,BUGWORKS Research India,"Biotechnology, Life Science, Pharmaceutical, P...",Series A,9000000,"Bangalore, Karnataka, India",BUGWORKS is a drug discovery company.
489,GoGaga,"Dating, Private Social Networking",Non-equity Assistance,40000,"Bangalore City, Karnataka, India",GoGaga is a new age dating app that has remove...

In [8]:
# get a sample of 2019 dataset
data_2019.sample(5)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
77,Sarva,NaN,Chennai,Yoga & wellness,It drives a cultural change in making yoga-bas...,Sarvesh Shashi,"Venture fund, Fireside Ventures.","$2,800,000",NaN
54,Ninjacart,2015.0000000000,NaN,B2B Supply Chain,It connects producers of food directly to reta...,"Thirukumaran Nagarajanin, Vasudevan Chinnathambi","Walmart, Flipkart",Undisclosed,NaN
42,Bombay Shirt Company,2012.0000000000,Mumbai,E-commerce,Online custom shirt brand,Akshay Narvekar,Lightbox Ventures,"$8,000,000",NaN
32,Pumpkart,2014.0000000000,Chandigarh,E-marketplace,B2B model for appliances and electrical products,KS Bhatia,Dinesh Dua,Undisclosed,NaN
68,Licious,2015.0000000000,Bangalore,Food,Online meat shop,"Vivek Gupta, Abhay Hanjura",Vertex Ventures,"$25,000,000",Series D

In [9]:
# get a sample of 2020 dataset
data_2020.sample(5)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
346,3one4 Capital,2016.0000000000,Bangalore,Venture capital,Use transformative capital and a deep involvem...,"Pranav Pai, Siddarth Pai",None,100000000.0000000000,None,None
115,Grip Invest,2020.0000000000,Gurugram,FinTech,Grip is an investment platform that allows ret...,"Nikhil Aggarwal, Vivek Gulati",Gemba Capital,NaN,Pre-series A,None
527,ZipLoan,2015.0000000000,Delhi,Fintech,Provides loans to MSMEs,"Kshitj Puri, Shalabh Singhal",Stride Ventures,2000000.0000000000,None,None
623,Aye Finance,2014.0000000000,Gurugram,Fintech,A finance lender to SMEs,"Vikram Jetley, Sanjay Sharma","Capital G, Alphabet's Independent growth fund",27700000.0000000000,Series E,None
257,Tango Eye,2018.0000000000,Chennai,SaaS startup,Retail Video Analytics SaaS product,Surender Gounder,"Riso Investments, Lenskart",NaN,Seed,None

In [10]:
# get a sample of 2021 dataset
data_2021.sample(5)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
171,Unacademy,2015.0000000000,Bangalore,EdTech,Unacademy aims to build the world's largest on...,"Gaurav Munjal, Hemesh Singh, Roman Saini",Bhavin Turakhia,$Undisclosed,None
809,BankSathi,2019.0000000000,New Delhi,FinTech,"Bank Sathi provides loans, insurance, cards co...",Jitendra Dhaka,"Dinesh Godara, Aditya Talwar","$200,000",Seed
971,Chingari,2018.0000000000,Bangalore,Entertainment,Chingari - Bharat Ka Super Entertainment App. ...,Sumit Ghosh,Solana,$19000000,None
384,Quali55Care,2018.0000000000,Mumbai,Health care,Deliver highly durable & affordable medical eq...,Harddik K Patel,India Accelerator’s Angel Investor Network,Undisclosed,Seed
1196,Flipspaces,2011.0000000000,Mumbai,Design,Flipspaces is a global tech-enabled venture to...,Kunal Sharma,Prashasta Seth,$2000000,Pre-series B

### 1.2 Data Inspection and Exploration

### 1.2.1 Shape of the data

In [11]:
# get the number of rows and columns for the datasets
print(f"The 2018 dataset has {data_2018.shape[0]} rows and {data_2018.shape[1]} Columns\n")
print(f"The 2019 dataset has {data_2019.shape[0]} rows and {data_2019.shape[1]} Columns\n")
print(f"The 2020 dataset has {data_2020.shape[0]} rows and {data_2020.shape[1]} Columns\n")
print(f"The 2021 dataset has {data_2021.shape[0]} rows and {data_2021.shape[1]} Columns\n\n")

The 2018 dataset has 526 rows and 6 Columns

The 2019 dataset has 89 rows and 9 Columns

The 2020 dataset has 1055 rows and 10 Columns

The 2021 dataset has 1209 rows and 9 Columns

### 1.2.2 Info of the data

In [12]:
# overview of 2018 dataset
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [13]:
# overview of 2019 dataset
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [14]:
# overview of 2020 dataset
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [15]:
# overview of 2021 dataset
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

### 1.2.3 Displaying datasets columns

In [16]:
# 2021 data columns
data_2021.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

In [17]:
# 2020 data columns

data_2020.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'column10'],
      dtype='object')

In [18]:
# 2019 data columns

data_2019.columns

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage'],
      dtype='object')

In [19]:
# 2018 data columns

data_2018.columns

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company'],
      dtype='object')

## **Observations:**

1. There is a discrepancy in the naming conventions between the columns in the 2018 and 2019 datasets compared to the 2020 and 2021 datasets.

2. The 2018 dataset exhibits some missing columns, contributing to an incomplete representation of the data.

3. Conversely, the 2020 dataset contains an additional column that appears to be extraneous and does not serve a meaningful purpose in our analysis.

**Course of Action:**

1. **Missing Column Engineering for 2018:**
   - We will address the absence of certain columns in the 2018 dataset by employing data engineering techniques to create and populate the missing columns, ensuring a comprehensive and consistent dataset.

2. **Column Name Standardization:**
   - To establish uniformity and coherence across all datasets, we will embark on a column renaming process for the 2018 and 2019 datasets. This action aims to align the naming conventions with those observed in the 2020 and 2021 datasets, facilitating seamless data integration and analysis.

3. **Extraneous Column Removal in 2020:**
   - The redundant column identified in the 2020 dataset will be removed, streamlining the dataset and eliminating unnecessary elements that do not contribute to the overall analysis objectives.

These actions collectively enhance the integrity, consistency, and completeness of the dataset, paving the way for a more robust and coherent analytical process.
ical process.

# 2. Data Cleaning

## 2.1 Handling missing columns in the 2018 dataset

In [20]:
# Engineer missing columns for the 2018 dataset
try:
    columns_to_add = ['Founded', 'Founders', 'Investor']
    for column in columns_to_add:
        if column not in data_2018.columns:
            data_2018[column] = np.NaN
except KeyError as e:
    print(f"Error: {e}, Type: {type(e)}")
except Exception as e:
    print(f"Unexpected Error: {e}, Type: {type(e)}")

In [21]:
# display the engineered columns
data_2018.head(2)

,Company Name,Industry,Round/Series,Amount,Location,About Company,Founded,Founders,Investor
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaN,NaN,NaN

### 2.2 Cleaning column names

In [22]:
# Define a dictionary with old column names as keys and new column names as values
rename_dict_2018 = {
    'Company Name': 'Company/Brand',
    'Industry': 'Sector',
    'Round/Series': 'Stage',
    'About Company': 'What_it_does'
}

rename_dict_2019 = {
    'What it does': 'What_it_does'
}

# Use the rename method to rename columns
data_2018 = data_2018.rename(columns=rename_dict_2018)
data_2019 = data_2019.rename(columns=rename_dict_2019)

for dataframe in [data_2019, data_2020, data_2021]:
    dataframe.rename(columns={'HeadQuarter': 'Location'}, inplace=True)

In [23]:
# 2020 dataset has an extra column
# Remove 2020 column10
data_2020.drop('column10', axis=1, inplace=True)

In [24]:
# display the columns to confirm the changes
# dispaly 2019 dataset
data_2019.head(2)

,Company/Brand,Founded,Location,Sector,What_it_does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0000000000,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C

In [25]:
# dispaly 2020 dataset
data_2020.head(2)

,Company_Brand,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Aqgromalin,2019.0000000000,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0000000000,None
1,Krayonnz,2019.0000000000,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0000000000,Pre-seed

In [26]:
# dispaly 2021 dataset
data_2021.head(2)

,Company_Brand,Founded,Location,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0000000000,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0000000000,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None

In [27]:
# add year when data was collected column to every dataset
data_2018['Data_year'] = pd.to_datetime('2018', format='%Y').year
data_2019['Data_year'] = pd.to_datetime('2019', format='%Y').year
data_2020['Data_year'] = pd.to_datetime('2020', format='%Y').year
data_2021['Data_year'] = pd.to_datetime('2021', format='%Y').year

Note:  
- We have added a year column to make a data cleaning and analysis simpler going forward

### 2.3 Merging the DataFrames

In [28]:
# Merge dataframes
df = pd.concat([data_2018, data_2019, data_2020, data_2021]).reset_index(drop=True)

**Join redundant columns**

In [29]:

# Rename the amount column
df['Amount']=df['Amount($)']
df.drop('Amount', axis=1, inplace=True)

#Rename Company_Brand column
df['Company_Brand']=df['Company/Brand']
df.drop('Company_Brand', axis=1, inplace=True)

In [30]:
# Get rid of '$' "₹"
df['Amount($)'] = pd.to_numeric(df['Amount($)'].replace('[\$,₹]', '', regex=True), errors='coerce')

In [31]:
# preview new merged dataframe
df.sample(20)

,Company/Brand,Sector,Stage,Location,What_it_does,Founded,Founders,Investor,Data_year,Amount($)
2302,NaN,HealthCare,None,Mumbai,Organic whole food nutrition to keep up with t...,2019.0000000000,Avnish Chhabria,Klub,2021,NaN
492,Ola,"Apps, E-Commerce, Internet, Mobile, Ride Shari...",Venture - Series Unknown,"Kormangala, Karnataka, India",Ola is a mobile app that brings together cab d...,NaN,NaN,NaN,2018,NaN
778,NaN,HealthTech,None,Kolkata,iKure is a social enterprise that delivers pri...,2010.0000000000,Sujay Santra,"Ratan Tata, Inflection Point Ventures, Ankur M...",2020,NaN
734,NaN,Entertainment,None,Indore,STAGE is an Indian language content platform f...,2019.0000000000,"Shashank Vaishnav, Vinay Singhal, Parveen Singhal",Venture Catalysts,2020,NaN
1077,NaN,Venture capital,Seed Funding,Bangalore,A leading tech venture capital fund focused on...,2018.0000000000,"Vaishali Kulkarni, Arjun Singh Bajwa",None,2020,NaN
1186,NaN,Cloud Kitchen,Pre series A,Mumbai,Online retailer that offers a range of on-the-...,2016.0000000000,Hitesh Ahuja,Jetty Ventures,2020,NaN
1685,NaN,Electronics,None,Bangalore,Tessolve Semiconductor offers engineering in s...,1993.0000000000,"P Raja Manickam, Srinivas Chinamilli, Veerappan V",Novo Tellus Capital,2021,NaN
1364,NaN,Fitness,None,Pune,Fitness Social Network & Consultation Platform,NaN,Jitendra Chouksey,"Sequoia Capital Surge, Better Capital",2020,NaN
79,Hansel.io,"Mobile, Mobile Apps, Personalization, Test and...",Series A,"Bangalore, Karnataka, India","Hansel, a mobile app management platform, prov...",NaN,NaN,NaN,2018,NaN
2269,NaN,HealthCare,None,Hyderabad,Full Stack Digital Health Clinic,2021.0000000000,Samarth Sindhi,Khosla Ventures,2021,NaN
1539,NaN,Edtech,Series A,Delhi,Online learning platform,2016.0000000000,"Singla, Kannu Mittal, Dhawal Parate",Info Edge Ltd,2020,NaN
1989,NaN,Battery,Seed,New Delhi,Battery Smart provides advanced Li-ion batteri...,2019.0000000000,"Pulkit Khurana, Siddharth Sikka",Orios Venture Partners,2021,NaN
1371,NaN,Edtech,Series C,Bangalore,Onine learning platform,NaN,"Saurabh Saxena, Pulkit Jain, Anand Prakash, Va...",KB Global Platform Firm,2020,NaN
1999,NaN,FinTech,Seed,Bangalore,Zolve Innovations operates as a neo-banking st...,2020.0000000000,Raghunandan G,"Kunal Shah, Greg Kidd",2021,NaN
1900,NaN,Social network,Seed,Gurugram,Pseudonymous social network platform,2021.0000000000,"Jasveer Singh, Abhishek Asthana, Deepak Kumar","Vijay Shekhar Sharma, Ritesh Agarwal, Ankiti Bose",2021,NaN
949,NaN,Entertainment,None,Mumbai,Dream11 is India’s Biggest Sports Game with 30...,2008.0000000000,"Bhavit Sheth, Harsh Jain","Steadview Capital, Tencent Holdings",2020,NaN
195,HeyHolidays,"Tourism, Travel",Seed,"Bangalore, Karnataka, India","HeyHolidays, a global player in online vacatio...",NaN,NaN,NaN,2018,NaN
2704,NaN,Information Technology & Services,Series A,Gurugram,O4S SaaS helps Consumer Brands to Digitize and...,2017.0000000000,"Divay Kumar, Shreyans Sipani","Think Investments, Venture Highway",2021,NaN
642,NaN,Telecommunication,None,Bangalore,Owner of Dailyhunt App and I-Pay,2007.0000000000,Virendra Gupta,Google,2020,NaN
1114,NaN,AI,None,None,Helps automate customer service using Artifici...,2015.0000000000,Gaurav Singh,Alpha Wave incubation,2020,NaN

In [32]:
# information of the merged dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  615 non-null    object
 1   Sector         2861 non-null   object
 2   Stage          1941 non-null   object
 3   Location       2765 non-null   object
 4   What_it_does   2879 non-null   object
 5   Founded        2110 non-null   float64
 6   Founders       2334 non-null   object
 7   Investor       2253 non-null   object
 8   Data_year      2879 non-null   int64
 9   Amount($)      77 non-null     float64
dtypes: float64(2), int64(1), object(7)
memory usage: 225.1+ KB

In [33]:
# get shape of dataframe
print(f"The data has {df.shape[0]} Rows and {df.shape[1]} Columns")

The data has 2879 Rows and 10 Columns

In [34]:
# get columns of DataFrame
df.columns

Index(['Company/Brand', 'Sector', 'Stage', 'Location', 'What_it_does',
       'Founded', 'Founders', 'Investor', 'Data_year', 'Amount($)'],
      dtype='object')

### 2.4 Inspect Columns

In [35]:
#get overview of the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  615 non-null    object
 1   Sector         2861 non-null   object
 2   Stage          1941 non-null   object
 3   Location       2765 non-null   object
 4   What_it_does   2879 non-null   object
 5   Founded        2110 non-null   float64
 6   Founders       2334 non-null   object
 7   Investor       2253 non-null   object
 8   Data_year      2879 non-null   int64
 9   Amount($)      77 non-null     float64
dtypes: float64(2), int64(1), object(7)
memory usage: 225.1+ KB

**Observations**  
- The Amount column needs to be converted to numeric 
 
- Data_Year column needs to be converted to date_time

In [36]:
# Convert 'Amount' column to numeric, coerce errors to NaN
df['Amount($)'] = pd.to_numeric(df['Amount($)'], errors='coerce')

# Convert 'Founded' column to datetime and then to 'year' type
df['Founded'] = pd.to_datetime(df['Founded'], format='%Y', errors='coerce').dt.to_period('Y')

# Convert 'Data_year' column to datetime and then to 'year' type
df['Data_year'] = pd.to_datetime(df['Data_year'], format='%Y', errors='coerce').dt.to_period('Y')

# df.sample(10)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  615 non-null    object
 1   Sector         2861 non-null   object
 2   Stage          1941 non-null   object
 3   Location       2765 non-null   object
 4   What_it_does   2879 non-null   object
 5   Founded        2110 non-null   period[Y-DEC]
 6   Founders       2334 non-null   object
 7   Investor       2253 non-null   object
 8   Data_year      2879 non-null   period[Y-DEC]
 9   Amount($)      77 non-null     float64
dtypes: float64(1), object(7), period[Y-DEC](2)
memory usage: 225.1+ KB

In [38]:
df.sample(10)

,Company/Brand,Sector,Stage,Location,What_it_does,Founded,Founders,Investor,Data_year,Amount($)
2429,NaN,Beauty products,Series C,Mumbai,MyGlamm is a direct-to-consumer brand of award...,2015,Darpan Sanghvi,Bessemer Venture Partners,2021,NaN
1360,NaN,Digital Media,Series A,Gurugram,News portal,NaT,"Romesh Khaddar, Shikha Chaudhry, Sumedh Chaudhry",North Base Media,2020,NaN
1602,NaN,Techonology,None,None,It is engaged in bringing digitization in parking,NaT,Amit Lakhotia,"Sequoia Capital, Matrix Partners India",2020,NaN
1362,NaN,Fintech,Pre series A,None,It offers access and credit to working Indians,2018,"Rohit Sen, Nupur Gupta",Angel investors,2020,NaN
1275,NaN,Agritech,None,Delhi,Supply chain that supports farmers and provide...,2016,"Prashant Jain, Varun Khurana",Smile group,2020,NaN
765,NaN,Venture capitalist,None,New Delhi,Stride Ventures is a venture capital firm in I...,2019,Ishpreet Gandhi,Small Industries Development Bank of India,2020,NaN
975,NaN,Beverage,None,Chennai,Given the rising trend in the number of tea st...,2018,Vidur Maheswari,"Gunavanth Vaid, Bharat Kumar Sohanraj",2020,NaN
1191,NaN,Fashion,Pre series A,Mumbai,Owns and operates fashion commerce and retail ...,2015,"Nikhil Hegde, Amit Bhardwaj",SucSEED Ventures,2020,NaN
829,NaN,Food,None,Bangalore,TagZ Foods is a supplier of snacks and food pr...,2019,"Sagar Bhalotia, Anish Basu Roy","Exfinity Venture Partners, Shesh Kondi",2020,NaN
624,NaN,Crowdsourcing,Pre-series A,Pune,GigIndia is a marketplace that provides on-dem...,2017,"Aditya Shirole, Sahil Sharma","Shantanu Deshpande, Subramaniam Ramadorai",2020,NaN

In [39]:

# Get unique values from 'Stage' column
data_stage = df['Stage'].unique()

# Define a mapping dictionary for broader categories
mapping_dict = {
    'Seed': ['Seed', 'Pre-Seed', 'Seed funding', 'Seed fund', 'Seed round', \
             'Seed A', 'Seed Funding', 'Pre-seed Round', 'Seed Round & Series A', \
                 'Pre seed Round', 'Pre seed round', \
                     'Seed Investment', 'Seed Round', 'Pre seed round','Early seed'],
    'Series A': ['Series A', 'Seies A','Pre series A', 'Post series A', 'Series A+', 'Series A1', \
                 'Series A2', 'Series A-1','Series A1', 'Pre-series A1', 'Pre-series A'],
    'Angel': ['Angel','Angel Round'],
    'Series B': ['Series B', 'Series B+', 'Series B2', 'Series B3','Pre-Series B','Pre series B'],
    'Series D':'Series D',
    'Private Equity': ['Private Equity', 'PE'],
    'Venture Capital': ['Venture - Series Unknown', 'Corporate Round', 'Venture Capital', 'Venture'],
    'Grant': ['Grant', 'Undisclosed'],
    'Debt Financing': ['Debt Financing', 'Debt'],
    'Post-IPO': ['Post-IPO Debt', 'Post-IPO Equity', 'Post series A', 'Post-IPO'],
    'Series H': ['Series H'],
    'Series C': ['Series C', 'Series C, D', 'Mid series','Pre series C',],
    'Series E': ['Series E', 'Series E2'],
    'Series F':['Series F2','Series F1','Series F'],
    'Bridge':['Bridge','Bridge Round'],
    'Funding Round': ['Funding Round', 'Fresh funding'],
    'Other': [np.NaN, 'None', None, 'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593', \
              'Non-equity Assistance', 'Secondary Market','Edge', '$1200000', '$300000',  '$6000000', '$1000000','Series I','Mid series',]
}

# Define a function to map stages to broader categories using the mapping dictionary
def map_to_broad_category(stage):
    if pd.notna(stage):
        stage_lower = stage.lower()
        for broad_category, subcategories in mapping_dict.items():
            non_float_subcategories = [subcategory for subcategory in subcategories if not isinstance(subcategory, float)]
            if stage_lower in [subcategory.lower() if subcategory is not None else 'None' for subcategory in non_float_subcategories]:
                return broad_category
    return 'Other'

# Create a new column for the broader categories
df['Broad_Stage'] = df['Stage'].apply(map_to_broad_category)

In [40]:
# preview data
df.sample(5)

,Company/Brand,Sector,Stage,Location,What_it_does,Founded,Founders,Investor,Data_year,Amount($),Broad_Stage
1777,NaN,Food & Beverages,None,Bangalore,Healthy & nutritious foods and cold pressed ju...,2020,Ankit Nagori,"Iron Pillar, Nordstar, Binny Bansal",2021,NaN,Other
1045,NaN,AI Platform,Series A,Bangalore,Gain insights into human emotions with AI-powe...,2016,Ranjan Kumar,"IDFC-Parampara Fund, Bharat Innovation Fund",2020,NaN,Series A
498,Kissht,"Credit, Finance, FinTech, Lending, Sales Autom...",Series C,"Mumbai, Maharashtra, India",Kissht is a financial technology platform that...,NaT,NaN,NaN,2018,NaN,Series C
439,Singularity Dynamics,Artificial Intelligence,Seed,"Bengaluru, Karnataka, India",Singularity Dynamics is a Chip-design testing ...,NaT,NaN,NaN,2018,NaN,Seed
1986,NaN,Podcast,None,New Delhi,"Hubhopper is India's leading podcast hosting, ...",2015,Gautam Raj Anand,"ITI Growth Opportunities Fund, Unit-E Ventures",2021,NaN,Other

In [41]:
df.columns

Index(['Company/Brand', 'Sector', 'Stage', 'Location', 'What_it_does',
       'Founded', 'Founders', 'Investor', 'Data_year', 'Amount($)',
       'Broad_Stage'],
      dtype='object')

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  615 non-null    object
 1   Sector         2861 non-null   object
 2   Stage          1941 non-null   object
 3   Location       2765 non-null   object
 4   What_it_does   2879 non-null   object
 5   Founded        2110 non-null   period[Y-DEC]
 6   Founders       2334 non-null   object
 7   Investor       2253 non-null   object
 8   Data_year      2879 non-null   period[Y-DEC]
 9   Amount($)      77 non-null     float64
 10  Broad_Stage    2879 non-null   object
dtypes: float64(1), object(8), period[Y-DEC](2)
memory usage: 247.5+ KB